<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
		<rule name="AngularJS Routes Admin" stopProcessing="true">
          		<match url="admin\.*" />
          		<conditions logicalGrouping="MatchAll">
            			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            			<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
 				<add input="{REQUEST_URI}" pattern="^/(admin)" negate="true" />
          		</conditions>
          		<action type="Rewrite" url="/admin" />
        	</rule>
	
		<rule name="Redirect to https Admin" stopProcessing="true">
                    <match url="admin\.*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                   
		    <action type="Rewrite" url="/admin" />
                </rule>
	

	    </rules>	
           
        </rewrite>

    </system.webServer>
</configuration>