<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5">
            <div class="card">
                <div class="card-header">
                    <h5>Category</h5>
                </div>
                <div class="card-body">

                    <form  [formGroup]="addcategory" (ngSubmit)="addCategoryandSpecs()">
                    
                        <div class="form-group">
                            <label class="col-form-label"><span>*</span> Category group</label>
                            <select class="form-control" formControlName="mainCatName" >
                                <option *ngFor="let c of categorygroup" value="{{c.id}}">{{c.main_cat_name}}</option>
                            </select>
                            <div *ngIf="addcategory.controls.mainCatName.touched && addcategory.controls.mainCatName.errors?.required" class="text text-danger">
                                This field is required.
                            </div>
                        </div>
    
                        <div class="form-group">
                            <label class="col-form-label"><span>*</span> Category name</label>
                            <input class="form-control" formControlName="subCatName" type="text" placeholder="Category name"/>
                            <div *ngIf="addcategory.controls.subCatName.touched && addcategory.controls.subCatName.errors?.required" class="text text-danger">
                                This field is required.
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-form-label"><span>*</span> Category Heading</label>
                            <input class="form-control" formControlName="catHeading" type="text" placeholder="Category name"/>
                            <div *ngIf="addcategory.controls.catHeading.touched && addcategory.controls.catHeading.errors?.required" class="text text-danger">
                                This field is required.
                            </div>
                        </div>
    
                        <div class="form-group">
                            <label class="col-form-label"><span>*</span> Select specification</label>
                            <select class="form-control specNames" formControlName="specNames" multiple >
                                <option *ngFor="let s of specs" value="{{s.spec_id}}">{{s.spec_name}}</option>
                            </select>
                            <div *ngIf="addcategory.controls.specNames.touched && addcategory.controls.specNames.errors?.required" class="text text-danger">
                                This field is required.
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label"><span>*</span> Category slug</label>
                            <input class="form-control" formControlName="subCatSlug" type="text" placeholder="Category slug"/>
                            <div *ngIf="addcategory.controls.subCatSlug.touched && addcategory.controls.subCatSlug.errors?.required" class="text text-danger">
                                This field is required.
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label"><span>*</span> Category Meta title</label>
                            <input class="form-control" formControlName="subCatMetaTitle" type="text" placeholder="Category meta title"/>
                            <div *ngIf="addcategory.controls.subCatMetaTitle.touched && addcategory.controls.subCatMetaTitle.errors?.required" class="text text-danger">
                                This field is required.
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label"><span>*</span> Category Meta description</label>
                            <input class="form-control" formControlName="subCatMetaDescription" type="text" placeholder="Category meta description"/>
                            <div *ngIf="addcategory.controls.subCatMetaDescription.touched && addcategory.controls.subCatMetaDescription.errors?.required" class="text text-danger">
                                This field is required.
                            </div>
                        </div>
    
                        <button type="submit" class="btn btn-secondary" >Add Category</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="card specifications">
                <div class="card-header">
                    <h5>Add Category and Specifications</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th>Category</th>
                                <th>Specifications</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody *ngFor="let c of categories">
                              <tr>
                                <td>{{c.cat_name}}</td>
                                <td>
                                    <div class="specValues" *ngFor="let cs of c.cat_id | CategorySpecs">{{cs.spec_name}} </div>
                                </td>
                                <td>
                                    <a class="mr-2" data-toggle="modal" data-original-title="test"
                                    data-target="#exampleModal" (click)="open(addCatSpecs); getAllSpecsForCat(c.cat_id)"><i class="fa fa-plus-circle"></i></a>
                                    <!-- <a (click)="open(editTenure)"><i class="fa fa-percent"></i></a> -->
                                    <a (click)="editCategory(editCategoryModal, c)"><i class="fa fa-pencil"></i></a>
                                </td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->


<ng-template #addCatSpecs let-modal>
    <div class="modal-header">
        <h5 class="modal-title f-w-600" id="exampleModalLabel">Edit</h5>
        <button type="button" class="close" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <th>Specification</th>
                    <th>Action</th>
                </thead>
                <tbody *ngFor="let a of AllSpecs">
                    <td >
                        {{a.spec_name}} 
                    </td>
                    <td>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" (change)="catSpecsActions($event,a.spec_id)" [checked]="a.checked">
                        </div>
                    </td>
                </tbody>
            </table>
        </div>
        <!-- <div class="specValues" *ngFor="let sv of tenureEdit.specId | tenurePriority">{{sv.tenure}} {{sv.tenure_period}}</div> -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"  (click)="reload()">Save</button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal"
            (click)="modal.dismiss('Cross click')">Close</button>
    </div>
</ng-template>

<ng-template #editCategoryModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title f-w-600" id="exampleModalLabel">Edit</h5>
        <button type="button" class="close" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="editMainCatId" class="mb-1">Category group :</label>
            <select  class="form-control" [(ngModel)]="editMainCatId">
                <option *ngFor="let cg of categorygroup" value="{{cg.id}}">{{cg.main_cat_name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="editSubCatName" class="mb-1">Category name :</label>
            <input class="form-control" [(ngModel)]="editSubCatName" id="editSubCatName" type="text">
        </div>
        <div class="form-group">
            <label for="editCatHeading" class="mb-1">Category heading :</label>
            <input class="form-control" [(ngModel)]="editCatHeading" id="editCatHeading" type="text">
        </div>
        <div class="form-group">
            <label for="editSubCatSlug" class="mb-1">Category slug :</label>
            <input class="form-control" [(ngModel)]="editSubCatSlug" id="editSubCatSlug" type="text">
        </div>
        <div class="form-group">
            <label for="editSubCatMetaTitle" class="mb-1">Meta title :</label>
            <input class="form-control" [(ngModel)]="editSubCatMetaTitle" id="editSubCatMetaTitle" type="text">
        </div>
        <div class="form-group">
            <label for="editSubCatMetaDescription" class="mb-1">Meta description :</label>
            <input class="form-control" [(ngModel)]="editSubCatMetaDescription" id="editSubCatMetaDescription" type="text">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"  (click)="updateCategory()">Save</button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal"
            (click)="modal.dismiss('Cross click')">Close</button>
    </div>
</ng-template>