<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-12" *ngIf="!toggleReplaceDetails">
          <div class="card">
              <div class="card-header">
                  <h5>Replacement requests</h5>
                  <button class="btn btn-warning" [routerLink]="['../../sales/create-request']">Create request</button>
              </div>
              <div class="card-body">
                  <div class="custom-datatable">

                    <p-table #dt1 [columns]="cols" (onPage)="onPagination($event)" (onSort)="onSort($event)"  (onFilter)="onFilter($event)" styleClass="p-datatable-gridlines" selectionMode="multiple" [(selection)]="selectedOrders" [exportHeader]="'customExportHeader'" [value]="orderitem" [lazy]="false" responsiveLayout="scroll" dataKey="id"                            
                      [paginator]="true" [showCurrentPageReport]="true" [rowsPerPageOptions]="[30,50,100]" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [first]="first" [rows]="30" [totalRecords]="totalRecords" [loading]="loading" [globalFilterFields]="['customer_id','firstName','lastName','mobile','email','registeredAt','lastLogin']">
                      <ng-template pTemplate="caption">
                        <div class="p-d-flex">
                          <span class="p-input-icon-left p-ml-auto">
                                    <!-- <i class="pi pi-search"></i> -->
                                    <input class="w-100" pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                                </span>
                        </div>
                        <div class="flex">

                          <button type="button" pButton pRipple icon="pi pi-file" (click)="dt1.exportCSV()" class="mr-2" pTooltip="CSV" tooltipPosition="bottom">CSV</button>
                          <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportAsXLSX()" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom">XL</button>
                          <!-- <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button> -->
                          <button type="button" pButton pRipple icon="pi pi-filter" (click)="dt1.exportCSV({selectionOnly:true})" class="p-button-info ml-auto" pTooltip="Selection Only" tooltipPosition="bottom">XL</button>
                        </div>
                      </ng-template>
                      <ng-template pTemplate="header">
                          <tr>
                            <th>
                              <div class="flex justify-content-center align-items-center">
                                Customer Name
                                  <p-columnFilter type="text" field="firstName" display="menu"></p-columnFilter>
                                  <th pSortableColumn="firstName"><p-sortIcon field="firstName"></p-sortIcon></th>
                              </div>
                            </th>
                            <th>
                              <div class="flex justify-content-center align-items-center">
                                Mobile
                                  <p-columnFilter type="numeric" field="mobile" display="menu"></p-columnFilter>
                              </div>
                            </th>
                            <th>
                              <div class="flex justify-content-center align-items-center">
                                Product name
                                  <p-columnFilter type="text" field="prod_name" display="menu"></p-columnFilter>
                              </div>
                            </th>
                            <th>
                              <div class="flex justify-content-center align-items-center">
                                Asset#
                                  <p-columnFilter type="text" field="asset_id" display="menu"></p-columnFilter>
                              </div>
                            </th>
                            <th>
                              <div class="flex justify-content-center align-items-center">
                                Start date
                                  <p-columnFilter type="date" field="requested_date" display="menu"></p-columnFilter>
                                  <th pSortableColumn="requested_date"><p-sortIcon field="requested_date"></p-sortIcon></th>
                              </div>
                            </th>
                            
                            <th>
                              <div class="flex justify-content-center align-items-center">
                                Reason
                                  <p-columnFilter type="text" field="request_reason" display="menu"></p-columnFilter>
                                  
                              </div>
                            </th>

                            
                            <th>
                              <div class="flex justify-content-center align-items-center">
                                Message
                                  <p-columnFilter type="text" field="request_message" display="menu"></p-columnFilter>
                                  
                              </div>
                            </th>

                            <th>
                              <div class="flex justify-content-center align-items-center">
                                Approval status
                                <p-columnFilter field="approval_statusText" matchMode="in" display="menu" [showMatchModes]="false"
                                  [showOperator]="false" [showAddButton]="false">
                                  <ng-template pTemplate="header">
                                    <div class="p-px-3 p-pt-3 p-pb-0">
                                      <span class="p-text-bold">Status Picker</span>
                                    </div>
                                  </ng-template>
                                  <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-multiSelect [ngModel]="value" [options]="approvals" placeholder="Any"
                                      (onChange)="filter($event.value)" optionLabel="name">
                                      <ng-template let-option pTemplate="item">
                                        <div class="p-multiselect-representative-option">
                                          <span class="p-ml-1">{{option.name}}</span>
                                        </div>
                                      </ng-template>
                                    </p-multiSelect>
                                  </ng-template>
                                </p-columnFilter>                                  
                              </div>
                            </th>

                            <th>
                              <div class="flex justify-content-center align-items-center">
                                Action                                                                    
                              </div>
                            </th>

                          </tr>
                      </ng-template>
                      <ng-template  pTemplate="body" let-rowData let-o>                        
                          <tr *ngIf="o.request_id==1">
                            <td [routerLink]="['../customers',o.customer_id]">{{o.firstName}}</td>
                            <td [routerLink]="['../customers',o.customer_id]">{{o.mobile}}</td>
                            <td>{{o.prod_name.substring(0,50)+'...'}}</td>
                            <td>{{o.asset_id}}</td>
                            <td>{{o.requested_date | date:'dd MMM yyyy HH:mm'}}</td>
                            <td>{{o.request_reason}}</td>
                            <td>{{o.request_message}}</td>
                            <td>
                              <span *ngIf="o.approval_statusText.name=='Requested'"><i class="fa fa-circle text-warning"></i> Requested</span>
                              <span *ngIf="o.approval_statusText.name=='Rejected'"><i class="fa fa-circle text-danger"></i> Rejected</span>
                              <span *ngIf="o.approval_statusText.name=='Approved'"><i class="fa fa-circle text-success"></i> Approved</span>
                            </td>
                            <td *ngIf="o.request_status==1" (click)="replaceProductOrderById(o.order_id, o.order_item_id,o, o.tenure_id, o.asset_id); toggleReplaceDetails=!toggleReplaceDetails"><a><i class="fa fa-pencil"></i></a></td>                   
                          </tr>
                      </ng-template>
                    </p-table>
                      <!-- <table class="table table-striped table-bordered" >
                        <thead>
                          <tr>
                            <th>Customer name</th>
                            <th>Mobile</th>
                            <th>Product name</th>
                            <th>Asset #</th>
                            <th>Start date</th>
                            <th>Reason</th>
                            <th>Message</th>                            
                            <th>Approval status</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let o of orderitem">
                          <tr *ngIf="o.request_id==1">
                            <td [routerLink]="['../customers',o.customer_id]">{{o.firstName}}</td>
                            <td [routerLink]="['../customers',o.customer_id]">{{o.mobile}}</td>
                            <td>{{o.prod_name.substring(0,50)+'...'}}</td>
                            <td>{{o.asset_id}}</td>
                            <td>{{o.requested_date | date:'dd MMM yyyy HH:mm'}}</td>
                            <td>{{o.request_reason}}</td>
                            <td>{{o.request_message}}</td>
                            <td>
                              <span *ngIf="o.approval_status==0 && o.request_status==1"><i class="fa fa-circle text-warning"></i> Requested</span>
                              <span *ngIf="o.approval_status==0 && o.request_status==0"><i class="fa fa-circle text-danger"></i> Rejected</span>
                              <span *ngIf="o.approval_status==1 && o.request_status==0"><i class="fa fa-circle text-success"></i> Approved</span>
                            </td>
                            <td *ngIf="o.request_status==1" (click)="replaceProductOrderById(o.order_id, o.order_item_id,o, o.tenure_id, o.asset_id); toggleReplaceDetails=!toggleReplaceDetails"><a><i class="fa fa-pencil"></i></a></td>                   
                          </tr>                          
                        </tbody>
                      </table> -->
                  </div>
              </div>
          </div>
        </div>

        <div class="col-sm-12" *ngIf="toggleReplaceDetails">
          <div class="card">
            <div class="card-header">
              <h4><a (click)="resetFormData(); toggleReplaceDetails=!toggleReplaceDetails"><i class="fa fa-arrow-left"></i></a> <button class="btn btn-primary pull-right" (click)="reject(productDetails.order_item_id)">Reject</button> </h4>
            </div>
            <div class="card-body">
              <div class="row">          
                <div class="col">
                  <div class="row orders" *ngFor="let o of fullOrderDetails">
                    <div class="col-6" >
                        <h1>Order details</h1>
                        <p>Primary order# : {{o.order_id}}</p>
                        <p>Order date: {{o.createdAt}}</p>
                        <label>Billing start date: <input class="form-control" type="date" [(ngModel)]="billStartDate"></label>
                        <p>Bill period:{{billStartDate | date: 'dd/MM/yyyy'}}-{{productDetails.end_date | date: 'dd MM yyyy'}}</p>
                        
                    </div>
                    <div class="col-6">
                        <h1>User details</h1>
                        <p>Customer# : {{o.customer_id}}</p>
                        <p>Customer name: {{o.firstName}}</p>
                        <p>Mobile: {{o.mobile}}</p>
                        <p>Email: {{o.email}}</p>
                        <!-- <p>Address:{{o.address}}, {{o.city}}-{{o.pincode}}</p> -->
                        <label> Payment status
                          <select class="form-control w-50" [(ngModel)]="replacePaymentStatus">
                            <option selected>Payment status</option>
                            <option *ngFor="let ps of paymentStatus" value="{{ps.id}}">{{ps.status_name}}</option>
                            <!-- <option selected value="">To be paid</option> -->
                              <!-- <option>Paid</option>
                            <option>Complete refund</option> -->
                          </select>
                        </label>
                        <br>
                    </div>
                </div>           
                <table class="table">
                  <thead>
                    <tr>
                        <!-- <th></th> -->
                      <th scope="col">Product id</th>
                      <th scope="col">Product name</th>
                      <th>Tenure</th>
                      <th>Security deposit</th>
                      <th>Rent/ mo</th>
                      <!-- <th>Billing rent</th> -->
                      <th>Start date</th>
                      <th>End date</th>
                      <th>Asset #</th>
                      <!-- <th>Bill period</th> -->
                      <th>Replace with</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <!-- <th scope="row"><input type="checkbox"></th> -->
                      <td>{{productDetails.id}}</td>
                      <td>{{productDetails.prod_name}}</td>
                      <td>{{productDetails.tenure_period}}</td>
                      <td>{{productDetails.security_deposit}}</td>
                      <td>{{(productDetails.tenure_price-0)+(productDetails.damage_protection-0)}}</td>
                      <!-- <td>{{p.price}}</td> -->
                      <td>{{productDetails.start_date | date: 'dd MM yyyy'}}</td>
                      <td>{{productDetails.end_date | date: 'dd MM yyyy'}}</td>
                      <td>{{productDetails.asset_id}}</td>
                      <td hidden>getBillPeriod(productDetails.end_date)</td>
                      <td>
                          <!-- <select class="form-control" [(ngModel)]="prodId" (change)="selectProduct(prodId,productDetails.security_deposit, p1Tenure, productDetails.asset_id)">
                              <option selected="selected">select</option>
                              <option [value]="fp.product_id" *ngFor="let fp of matchedProducts2">{{fp.prod_id}}</option>
                          </select><br> -->
                          <p-dropdown [options]="matchedProducts2" [(ngModel)]="prodId" optionLabel="prod_id" [filter]="true" filterBy="prod_id"
                          (onChange)="selectProduct(prodId.product_id,productDetails.security_deposit, p1Tenure, productDetails.asset_id)" [showClear]="true" placeholder="Select a product#">
                            <ng-template pTemplate="selectedItem">
                              <div class="country-item country-item-value" *ngIf="prodId">
                                <div>{{prodId.prod_id}}</div>
                              </div>
                            </ng-template>
                            <ng-template let-productId pTemplate="item">
                              <div class="country-item">
                                <div>{{productId.prod_id}}</div>
                              </div>
                            </ng-template>
                          </p-dropdown>
               
                      </td>

                    </tr>
                    <tr *ngFor="let rp of replaceProduct">
                      <td>{{rp.product_id}}</td>
                      <td>{{rp.prod_name}}</td>
                      <td>{{p2Tenure}}</td>
                      <td><input type="number" (keyup)="calcModifiedPrice(p1Tenure,productDetails.security_deposit, p2TenurePrice, rp.securityDeposit)" [(ngModel)]="rp.securityDeposit"></td>
                      <td><input type="number" (keyup)="calcModifiedPrice(p1Tenure,productDetails.security_deposit, p2TenurePrice, rp.securityDeposit)" [(ngModel)]="p2TenurePrice">
                        {{(p2TenurePrice-0)+(p2DP-0)}}</td>
                      <td>    
                        <label>Asset #:
                          <input class="form-control" type="text" [(ngModel)]="assetId">
                        </label>                
                      </td>
                    </tr>
                  </tbody>
                </table>
                <hr>
                
                <div class="pull-right">
                  <label> Damage charges
                    <input class="form-control" type="number" [(ngModel)]="damageCharges" placeholder="Damage charges"><br>
                  </label>
                  <p>Difference rent: {{rentDifference}}</p>
                  <p>Damage charges: {{damageCharges}}</p>
                  <p>GST: {{totalTaxAmount((rentDifference)+damageCharges)}}</p>
                  <p>Sub total: ₹{{(rentDifference)+damageCharges+totalTaxAmount((rentDifference)+damageCharges)}}</p>
                  <p>Difference in security deposit: {{securityDepositDiff}}</p>
                  <p>Total: ₹{{(rentDifference)+damageCharges+totalTaxAmount((rentDifference)+damageCharges)+securityDepositDiff | number: '1.0-0'}}</p>
                  <button *ngIf="assetId" class="btn btn-primary" (click)="replace(productDetails.order_item_id,productDetails.id,productDetails.indexs, productDetails.tenure_id, productDetails.dp,productDetails.assetId,prodId, damageCharges)">Replace</button>
                </div>
                </div>
            </div>
            </div>
          </div>
        </div>

        
    </div>
    <!-- Container-fluid Ends-->

        

    <!-- Replacement request modal -->
    <ng-template class="replacement-request" #replacementRequest let-c="close" let-d="dismiss">
      <div class="modal-header text-center">
        <h4 class="col-12 modal-title text-center" id="modal-basic-title">Order details</h4>
        <button type="button" class="close" aria-label="Close" (click)="d(); resetFormData()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row">          
              <div class="col">
                <div class="row orders" *ngFor="let o of fullOrderDetails">
                  <div class="col-6" >
                      <h1>Order details</h1>
                      <p>Primary order# : {{o.order_id}}</p>
                      <p>Order date: {{o.createdAt}}</p>
                      <label>Billing start date: <input type="date" [(ngModel)]="billStartDate"></label>
                      <p>Bill period:{{billStartDate | date: 'dd/MM/yyyy'}}-{{productDetails.expiryDate}}</p>
                      
                  </div>
                  <div class="col-6">
                      <h1>User details</h1>
                      <p>Customer# : {{o.userId}}</p>
                      <p>Customer name: {{o.fname}}</p>
                      <p>Mobile: {{o.mobile}}</p>
                      <p>Email: {{o.email}}</p>
                      <p>Address:{{o.address}}, {{o.city}}-{{o.pincode}}</p>
                  </div>
              </div>           
              <table class="table">
                <thead>
                  <tr>
                      <!-- <th></th> -->
                    <th scope="col">Product id</th>
                    <th scope="col">Product name</th>
                    <th>Tenure</th>
                    <th>Security deposit</th>
                    <th>Rent/ mo</th>
                    <!-- <th>Billing rent</th> -->
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Asset #</th>
                    <!-- <th>Bill period</th> -->
                    <th>Replace with</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <!-- <th scope="row"><input type="checkbox"></th> -->
                    <td>{{productDetails.id}}</td>
                    <td>{{productDetails.prod_name}}</td>
                    <td>{{productDetails.tenure}}</td>
                    <td>{{productDetails.prod_price}}</td>
                    <td>{{(productDetails.price-0)+(productDetails.dp-0)}}</td>
                    <!-- <td>{{p.price}}</td> -->
                    <td>{{productDetails.startDate}}</td>
                    <td>{{productDetails.expiryDate}}</td>
                    <td>{{productDetails.assetId}}</td>
                    <td hidden>getBillPeriod(productDetails.expiryDate)</td>
                    <!-- <td><a (click)="openBillingPeriod()">{{p.billPeriod}}</a></td> -->
                    <td>
                      <!-- <div hidden>{{filterByPrice(p.prod_price)}}</div> -->
                        <select [(ngModel)]="prodId" (click)="selectProduct(prodId,productDetails.prod_price, p1Tenure, productDetails.assetId)">
                            <option selected="selected">select</option>
                            <option [value]="fp.product_id" *ngFor="let fp of filteredProducts">{{fp.prod_name}}</option>
                        </select>
                        <input type="number" [(ngModel)]="damageCharges" placeholder="Damage charges">
                        <select [(ngModel)]="replacePaymentStatus">
                          <option *ngFor="let ps of paymentStatus" value="{{ps.id}}">{{ps.status_name}}</option>
                          <!-- <option selected value="">To be paid</option> -->
                            <!-- <option>Paid</option>
                          <option>Complete refund</option> -->
                        </select>
                        <!-- <input list="prodId" [(ngModel)]="prodId" (click)="selectProduct(prodId)">
                        <datalist id="prodId" >
                          <option *ngFor="let fp of filteredProducts">{{fp.prod_id}}</option>
                        </datalist>  -->
                    </td>
                    <td><button class="btn btn-primary" (click)="replace(productDetails.order_item_id,productDetails.id,productDetails.indexs, productDetails.tenure_id, productDetails.dp,productDetails.assetId,prodId, damageCharges)">Replace</button></td>
                    <td><button class="btn btn-primary" (click)="reject(productDetails.order_item_id)">Reject</button></td>
                  </tr>
                  <tr *ngFor="let rp of replaceProduct">
                    <td>{{rp.product_id}}</td>
                    <td>{{rp.prod_name}}</td>
                    <td>{{p2Tenure}}</td>
                    <td>{{rp.securityDeposit}}</td>
                    <td>{{(p2TenurePrice-0)+(p2DP-0)}}</td>
                    <td>    
                      <label>Asset #:
                        <select [(ngModel)]="assetId">
                          <option *ngFor="let a of assets">{{a.asset_no}}</option>
                        </select>
                      </label>                
                    </td>
                  </tr>
                </tbody>
              </table>
              <hr>
              <div class="pull-right">
                <p>Difference rent: {{rentDifference}}</p>
                <p>Damage charges: {{damageCharges}}</p>
                <p>GST: {{totalTaxAmount((rentDifference)+damageCharges)}}</p>
                <p>Sub total: ₹{{(rentDifference)+damageCharges+totalTaxAmount((rentDifference)+damageCharges)}}</p>
                <p>Difference in security deposit: {{securityDepositDiff}}</p>
                <p>Total: ₹{{(rentDifference)+damageCharges+totalTaxAmount((rentDifference)+damageCharges)+securityDepositDiff}}</p>
                
              </div>
              </div>
          </div>
      </div>
  </ng-template>