<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h5>Return requests</h5>
                </div>
                <div class="card-body">
                    <div class="custom-datatable">
                        <!-- <input type='text' class="filter-ngx form-control" placeholder='Search...'
                            (keyup)='updateFilter($event)' />
                            <button class="pull-right btn btn-warning" (click)="exportAsXLSX()">Download</button><br><br> -->
                     
                        <table class="table table-striped table-bordered" >
                          <thead>
                            <tr>
                              <th>Order Id</th>
                              <th>Product name</th>
                              <th>Asset #</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody *ngFor="let o of orderitem">
                            <tr *ngIf="o.request_id==2">
                              <td  (click)="getOrderById(o.order_id)">{{o.order_item_id}}</td>
                              <td (click)="getOrderById(o.order_id)">{{o.prod_name.substring(0,50)+'...'}}</td>
                              <td  (click)="getOrderById(o.order_id)">{{o.asset_id}}</td>
                              <td (click)="returnProductOrderById(o.order_id, o.order_item_id,o.renewals_timline,o.asset_id)"><a><i class="fa fa-pencil"></i></a></td>                   
                            </tr>                          
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
          <div class="card">
              <div class="card-header">
                  <h5>Replacement requests</h5>
              </div>
              <div class="card-body">
                  <div class="custom-datatable">
                      <!-- <input type='text' class="filter-ngx form-control" placeholder='Search...'
                          (keyup)='updateFilter($event)' />
                          <button class="pull-right btn btn-warning" (click)="exportAsXLSX()">Download</button><br><br> -->
                   
                      <table class="table table-striped table-bordered" >
                        <thead>
                          <tr>
                            <th>Order Id</th>
                            <th>Product name</th>
                            <th>Asset #</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let o of orderitem">
                          <tr *ngIf="o.request_id==1">
                            <td  (click)="getOrderById(o.order_id)">{{o.order_item_id}}</td>
                            <td (click)="getOrderById(o.order_id)">{{o.prod_name.substring(0,50)+'...'}}</td>
                            <td  (click)="getOrderById(o.order_id)">{{o.asset_id}}</td>
                            <td  (click)="replaceProductOrderById(o.order_id, o.order_item_id,o.renewals_timline, o.tenure_id, o.asset_id)"><a><i class="fa fa-pencil"></i></a></td>                   
                          </tr>                          
                        </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <!-- Container-fluid Ends-->

     <ng-template class="order-details" #orderDetails let-c="close" let-d="dismiss">
        <div class="modal-header text-center">
          <h4 class="col-12 modal-title text-center" id="modal-basic-title">Order detailsz</h4>
          <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row" *ngFor="let o of fullOrderDetails">          
                <div class="col">
                    <h3>Order details</h3>

                    <table class="table table-striped table-bordered" >
                        <thead>
                          <tr>
                            <th>Order Id</th>
                            <!-- <th>Payu Trans Id</th> -->
                            <th>User Id</th>
                            <th>Order date</th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let o of fullOrderDetails">
                          <tr>
                            <td>{{o.order_id}}</td>
                            <!-- <td>{{o.payuid}}</td> -->
                            <td>{{o.customer_id}}</td>
                            <td>{{o.createdAt | date:'dd MM yyyy'}}</td>                         
                          </tr>                          
                        </tbody>
                      </table>

                    <h3>Product details</h3>
                    <table class="table table-striped table-bordered" >
                        <thead>
                          <tr>
                            <th>prod id</th>
                            <th>Prod name</th>
                            <th>Qty</th>
                            <th>Tenure</th>
                            <th>Security Deposit</th>
                            <th>Rent/mo</th>
                            <th>Expected Delivery Date</th>
                            <th>Start date</th>
                            <th>Asset #</th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let p of productDetails">
                          <tr *ngIf="p.ordered==1 && o.order_type=='Primary order'">
                            <td>{{p.id}}</td>
                            <td>{{p.prod_name}}</td>
                            <td>{{p.qty}}</td>
                            <td>{{p.tenure}}</td>
                            <td>₹{{p.prod_price}}</td>
                            <td>₹{{p.price}}</td>
                            <td>{{p.delvdate}}</td> 
                            <td>{{p.startDate}}</td>
                            <td>{{p.assetId}}</td>                                                       
                          </tr>           
                          <tr *ngIf="p.renewed==4 && o.order_type=='Renewal order'">
                            <td>{{p.id}}</td>
                            <td>{{p.prod_name}}</td>
                            <td>{{p.qty}}</td>
                            <td>{{p.tenure}}</td>
                            <td>₹{{p.prod_price}}</td>
                            <td>₹{{p.price}}</td>
                            <td>{{p.delvdate}}</td> 
                            <td>{{p.startDate}}</td>
                            <td>{{p.assetId}}</td> 
                                                      
                          </tr>                 
                        </tbody>
                    </table>

                    <div *ngFor="let o of fullOrderDetails" class="pull-right">
                        <h4>Total security deposit: <span>₹{{o.securitydeposit}}</span></h4>
                        <h4>Grand Total: <span>₹{{o.amount}}</span></h4>
                    </div> 
                    
                    <div class="addr">
                        <hr>
                        <h3>Delivery Address</h3>
                        <div *ngFor="let o of fullOrderDetails">
                            <h4>Name: <span>{{o.fname}}</span></h4>
                            <h4>Address: <span>{{o.address}},{{o.city}}-{{o.pincode}}.</span></h4>
                            <h4>Mobile: <span>{{o.mobile}}</span></h4>
                            <h4>Email: <span>{{o.email}}</span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    
    <!-- Return request modal -->
    <ng-template class="return-request" #returnRequest let-c="close" let-d="dismiss">
        <div class="modal-header text-center">
          <h4 class="col-12 modal-title text-center" id="modal-basic-title">Order details</h4>
          <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row" *ngFor="let o of fullOrderDetails">   
                  <div class="col-6" >
                    <h1>Order details</h1>
                    <p>Primary order# : {{o.order_id}}</p>
                    <p>Order date: {{o.createdAt | date:'dd MMM yyyy'}}</p>
                    <!-- <p>Subscription period:{{productDetails[0].startDate}}-{{productDetails[0].expiryDate}}</p>
                    <p>Requested return date:{{productDetails[0].returnDate}}</p>
                    <p>Start date: {{productDetails[0].actualStartDate}}</p> -->
                </div>    
                <div class="col-6">
                  <h1>User details</h1>
                  <p>Customer# : {{o.customer_id}}</p>
                  <p>Customer name: {{o.firstName }}</p>
                  <p>Mobile: {{o.mobile}}</p>
                  <p>Email: {{o.email}}</p>
                  <p>Address:{{o.address[0].address_line1}}, {{o.address[0].city}}-{{o.address[0].pincode}}</p>
                </div>
                <div class="col-12">
                  <table class="table">
                    <thead>
                      <tr>
                          <!-- <th></th> -->
                        <th scope="col">Product id</th>
                        <th scope="col">Product name</th>
                        <th>Tenure</th>
                        <th>Security deposit</th>
                        <th>Rent/ mo</th>
                        <th>Asset #</th>
                        <th>Damage charges</th>
                        <th>Refund status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr >
                        <td>{{productDetails.id}}</td>
                        <td>{{productDetails.prod_name}}</td>
                        <td>{{productDetails.tenure}}</td>
                        <td>{{productDetails.prod_price}}</td>
                        <td>{{(productDetails.price-0)+(productDetails.dp-0)}}</td>
                        <td>{{productDetails.assetId}}</td>
                        <td hidden>getBillPeriod(productDetails.expiryDate)</td>
                        <td>                          
                            <input type="number" [(ngModel)]="returnDamageCharges" placeholder="Damage charges"> 
                            <input type="number" [(ngModel)]="earlyReturnCharges" placeholder="Early return charges">                           
                        </td>
                        <td>
                          <select [(ngModel)]="refundStatus">
                            <option selected>Refund initiated</option>
                            <option>Deposit refunded</option>
                            <option>Complete refund</option>
                          </select>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>   
                <div class="col-9">
                    <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker><br><br>     
                </div>
                <hr>
              <div class="col pull-right">
                <p>Damage charges: {{returnDamageCharges + earlyReturnCharges}}</p>
                <p>To be refunded: {{(productDetails.prod_price-0)-(returnDamageCharges+earlyReturnCharges)}}</p>
                
                <button class="btn btn-primary mr-1" (click)="returnProduct()">Return</button>   
                <button class="btn btn-primary" (click)="reject(productDetails.order_item_id)">Reject</button>   
              </div>
            </div>
        </div>
    </ng-template>

    <!-- Replacement request modal -->
    <ng-template class="replacement-request" #replacementRequest let-c="close" let-d="dismiss">
      <div class="modal-header text-center">
        <h4 class="col-12 modal-title text-center" id="modal-basic-title">Order details</h4>
        <button type="button" class="close" aria-label="Close" (click)="d(); resetFormData()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row">          
              <div class="col">
                <div class="row orders" *ngFor="let o of fullOrderDetails">
                  <div class="col-6" >
                      <h1>Order details</h1>
                      <p>Primary order# : {{o.order_id}}</p>
                      <p>Order date: {{o.createdAt}}</p>
                      <label>Billing start date: <input type="date" [(ngModel)]="billStartDate"></label>
                      <p>Bill period:{{billStartDate | date: 'dd/MM/yyyy'}}-{{productDetails.expiryDate}}</p>
                      
                  </div>
                  <div class="col-6">
                      <h1>User details</h1>
                      <p>Customer# : {{o.userId}}</p>
                      <p>Customer name: {{o.fname}}</p>
                      <p>Mobile: {{o.mobile}}</p>
                      <p>Email: {{o.email}}</p>
                      <p>Address:{{o.address}}, {{o.city}}-{{o.pincode}}</p>
                  </div>
              </div>           
              <table class="table">
                <thead>
                  <tr>
                      <!-- <th></th> -->
                    <th scope="col">Product id</th>
                    <th scope="col">Product name</th>
                    <th>Tenure</th>
                    <th>Security deposit</th>
                    <th>Rent/ mo</th>
                    <!-- <th>Billing rent</th> -->
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Asset #</th>
                    <!-- <th>Bill period</th> -->
                    <th>Replace with</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <!-- <th scope="row"><input type="checkbox"></th> -->
                    <td>{{productDetails.id}}</td>
                    <td>{{productDetails.prod_name}}</td>
                    <td>{{productDetails.tenure}}</td>
                    <td>{{productDetails.prod_price}}</td>
                    <td>{{(productDetails.price-0)+(productDetails.dp-0)}}</td>
                    <!-- <td>{{p.price}}</td> -->
                    <td>{{productDetails.startDate}}</td>
                    <td>{{productDetails.expiryDate}}</td>
                    <td>{{productDetails.assetId}}</td>
                    <td hidden>getBillPeriod(productDetails.expiryDate)</td>
                    <!-- <td><a (click)="openBillingPeriod()">{{p.billPeriod}}</a></td> -->
                    <td>
                      <!-- <div hidden>{{filterByPrice(p.prod_price)}}</div> -->
                        <select [(ngModel)]="prodId" (click)="selectProduct(prodId,productDetails.prod_price, productDetails.indexs, p1Tenure, productDetails.assetId)">
                            <option selected="selected">select</option>
                            <option [value]="fp.product_id" *ngFor="let fp of filteredProducts">{{fp.prod_name}}</option>
                        </select>
                        <input type="number" [(ngModel)]="damageCharges" placeholder="Damage charges">
                        <select [(ngModel)]="replacePaymentStatus">
                          <option selected>To be paid</option>
                            <option>Paid</option>
                            <option>Complete refund</option>
                      </select>
                        <!-- <input list="prodId" [(ngModel)]="prodId" (click)="selectProduct(prodId)">
                        <datalist id="prodId" >
                          <option *ngFor="let fp of filteredProducts">{{fp.prod_id}}</option>
                        </datalist>  -->
                    </td>
                    <td><button class="btn btn-primary" (click)="replace(productDetails.order_item_id,productDetails.id,productDetails.indexs, productDetails.tenure_id, productDetails.dp,productDetails.assetId,prodId, damageCharges)">Replace</button></td>
                    <td><button class="btn btn-primary" (click)="reject(productDetails.order_item_id)">Reject</button></td>
                  </tr>
                  <tr *ngFor="let rp of replaceProduct">
                    <td>{{rp.product_id}}</td>
                    <td>{{rp.prod_name}}</td>
                    <td>{{p2Tenure}}</td>
                    <td>{{rp.securityDeposit}}</td>
                    <td>{{(p2TenurePrice-0)+(p2DP-0)}}</td>
                    <td>    
                      <label>Asset #:
                        <select [(ngModel)]="assetId">
                          <option *ngFor="let a of assets">{{a.asset_no}}</option>
                        </select>
                      </label>                
                    </td>
                  </tr>
                </tbody>
              </table>
              <hr>
              <div class="pull-right">
                <p>Difference rent: {{rentDifference}}</p>
                <p>Damage charges: {{damageCharges}}</p>
                <p>GST: {{totalTaxAmount((rentDifference)+damageCharges)}}</p>
                <p>Sub total: ₹{{(rentDifference)+damageCharges+totalTaxAmount((rentDifference)+damageCharges)}}</p>
                <p>Difference in security deposit: {{securityDepositDiff}}</p>
                <p>Total: ₹{{(rentDifference)+damageCharges+totalTaxAmount((rentDifference)+damageCharges)+securityDepositDiff}}</p>
                
              </div>
              </div>
          </div>
      </div>
  </ng-template>