<!-- Container-fluid starts-->
<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="custom-datatable">

                        
                        <table class="table table-striped table-bordered" >
                          <thead>
                            <tr>
                              <th>Customer #</th>
                              <th>Customer type</th>
                              <th>Comments</th>
                              <th>KYC status</th>
                              <th>Created at</th>
                              <th>Last modified</th>
                            </tr>
                          </thead>
                          <tbody *ngFor="let o of filteredCustomers">
                            <tr [routerLink]="[o.id]">
                              <td>{{o.customer_id}}</td>
                              <td>{{o.customer_type}}</td>
                              <td>{{o.comments}}</td>
                              <td>{{o.kyc_status}}</td> 
                              <td>{{o.created_at | date:'dd-MMM-yyyy HH:mm'}}</td>  
                              <td>{{o.modified_at | date:'dd-MMM-yyyy HH:mm'}}</td>                 
                            </tr>                          
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div> -->