<div class="container-fluid">
    <form enctype="multipart/form-data" [formGroup]="addProduct" (ngSubmit)="updateProducts()">
        <div class="row product-adding">
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h5>General</h5>
                    </div>
                    <div class="card-body">
                        <div class="digital-add needs-validation">                        
                                <div class="form-group">
                                    <label for="validationCustom01" class="col-form-label pt-0"><span>*</span> Title</label>
                                    <input class="form-control" id="validationCustom01" name="title" formControlName="title" type="text" required="">
                                </div>
                                <!-- <div class="form-group">
                                    <label for="validationCustomtitle" class="col-form-label pt-0"><span>*</span> Quantity</label>
                                    <input class="form-control" id="validationCustomtitle" name="quantity" [(ngModel)]="quantity" type="number" required="">
                                </div> -->
                                <!-- <div class="form-group">
                                    <label class="col-form-label"><span>*</span> Categories</label>
                                    <select class="custom-select" required="">
                                        <option value="">--Select--</option>
                                        <option value="1">eBooks</option>
                                        <option value="2">Graphic Design</option>
                                        <option value="3">3D Impact</option>
                                        <option value="4">Application</option>
                                        <option value="5">Websites</option>
                                    </select>
                                </div> -->
                                <div class="form-group">
                                    <label class="col-form-label">Sort Summary</label>
                                    <textarea rows="5" name="description" formControlName="description" cols="12"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="validationCustom02" class="col-form-label"><span>*</span> Product Price</label>
                                    <input class="form-control" name="price" formControlName="price" id="validationCustom02" type="text" required="">
                                </div>
                                
                                
                                    <!-- <label class="col-form-label pt-0"> Product Upload</label>
                                    <input type="file" formControlName="product_image"  multiple (change)="onImageChange($event)" />         -->
                                    
                                    <div class="form-group">
                                        <label class="col-form-label"><span>*</span> Brand</label>
                                        <select class="custom-select" formControlName="brand">
                                            <option *ngFor="let b of brands" [value]="b.brand_id">{{b.brand_name}}</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-form-label"><span>*</span> Categories</label>
                                        <select class="custom-select" id="category" formControlName="category">
                                            <option *ngFor="let c of categories" [value]="c.cat_id">{{c.cat_name}}</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="validationRam" class="col-form-label pt-0"><span>*</span> RAM</label>
                                        <input class="form-control" id="validationRam" name="ram" formControlName="ram" type="text" required="">
                                    </div>

                                    <div class="form-group">
                                        <label for="validationProcessor" class="col-form-label pt-0"><span>*</span> Processor</label>
                                        <input class="form-control" id="validationProcessor" name="processor" formControlName="processor" type="text" required="">
                                    </div>

                                    <div class="form-group">
                                        <label for="validationSerSz" class="col-form-label pt-0"><span>*</span> Screen Size</label>
                                        <input class="form-control" id="validationSerSz" name="screen_size" formControlName="screen_size" type="text" required="">
                                    </div>                                    

                                    <div class="form-group">
                                        <label class="col-form-label"><span>*</span> Disk Type</label>
                                        <div class="m-checkbox-inline mb-0 custom-radio-ml d-flex radio-animated">
                                            <label class="d-block" for="edo-ani">
                                                <input class="radio_animated"  name="disk_type" formControlName="disk_type" [value]="1"  id="edo-ani" type="radio" for="0">
                                                HDD
                                            </label>
                                            <label class="d-block" for="edo-ani1">
                                                <input class="radio_animated" name="disk_type" formControlName="disk_type" [value]="0" id="edo-ani1" type="radio" for="1">
                                                SSD
                                            </label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="validationdisk" class="col-form-label pt-0"><span>*</span>Disk Size</label>
                                        <input class="form-control" id="validationdisk" name="disk_size" formControlName="disk_size" type="text" required="">
                                    </div>

                                    <div class="form-group">
                                        <label class="col-form-label"><span>*</span> Status</label>
                                        <div class="m-checkbox-inline mb-0 custom-radio-ml d-flex radio-animated">
                                            <label class="d-block" for="edo-ani">
                                                <input class="radio_animated"  name="status" formControlName="status" [value]="1"  id="edo-ani3" type="radio">
                                                Enable
                                            </label>
                                            <label class="d-block" for="edo-ani1">
                                                <input class="radio_animated" name="status" formControlName="status" [value]="0"  id="edo-ani4" type="radio">
                                                Disable
                                            </label>
                                        </div>
                                    </div>

                                    <div formGroupName="tenure">
                                         <div class="form-group">
                                            <label for="validationCustom03" class="col-form-label pt-0"><span>*</span> 3 Months</label>
                                            <input class="form-control" id="validationCustom03" formControlName="threeMonths" type="text" required="">
                                        </div>
                                        <div class="form-group">
                                            <label for="validationCustom04" class="col-form-label pt-0"><span>*</span> 6 Months</label>
                                            <input class="form-control" id="validationCustom04" formControlName="sixMonths" type="text" required="">
                                        </div>
                                        <div class="form-group">
                                            <label for="validationCustom05" class="col-form-label pt-0"><span>*</span> 9 Months</label>
                                            <input class="form-control" id="validationCustom05" formControlName="nineMonths" type="text" required="">
                                        </div>
                                        <div class="form-group">
                                            <label for="validationCustom06" class="col-form-label pt-0"><span>*</span> 12 Months</label>
                                            <input class="form-control" id="validationCustom06" formControlName="twelveMonths" type="text" required="">
                                        </div>
                                        <div class="form-group">
                                            <label for="validationCustom07" class="col-form-label pt-0"><span>*</span> 18 Months</label>
                                            <input class="form-control" id="validationCustom07" formControlName="eighteenMonths" type="text" required="">
                                        </div>
                                        <div class="form-group">
                                            <label for="validationCustom08" class="col-form-label pt-0"><span>*</span> 24 Months</label>
                                            <input class="form-control" id="validationCustom08" formControlName="twentyFourMonths" type="text" required="">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="validationRam" class="col-form-label pt-0"><span></span> Images</label>
                                        <div class="row">
                                            <div class="col-md-4" *ngFor="let item of prodImgs">
                                                <img src='http://localhost:3000/images/products/{{item}}' style="width: 100%;" />
                                            </div>
                                        </div>
                                    </div>
                                
                                <!-- <div class="card-body dropzone-custom p-0">
                                    <div class="dropzone dropzone-primary" [dropzone]="config1" (error)="onUploadError($event)"
                                        (success)="onUploadSuccess($event)">
                                        <div class="dz-message needsclick">
                                            <i class="fa fa-cloud-upload"></i>
                                            <h4 class="mb-0 f-w-600">Drops Images here or click to upload.</h4>
                                        </div>
                                    </div>
                                </div> -->
                                <button type="submit" class="btn btn-primary mr-1">Update</button>                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h5>Add Specifications</h5>
                    </div>
                    <div class="card-body">
                        <div class="digital-add needs-validation">
                            <div class="form-group mb-0">
                                <div class="description-sm">
                                    <ck-editor name="specifications" formControlName="specifications" id="editor1" language="en" [fullPage]="false"></ck-editor>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5>Meta Data</h5>
                    </div>
                    <div class="card-body">
                        <div class="digital-add needs-validation">
                            <!-- <div class="form-group">
                                <label for="validationCustom05" class="col-form-label pt-0"> Meta Title</label>
                                <input class="form-control" id="validationCustom05" type="text" required="">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Meta Description</label>
                                <textarea rows="4" cols="12"></textarea>
                            </div> -->
                            <div class="form-group mb-0">
                                <div class="product-buttons text-center">
                                    <button type="button" class="btn btn-primary mr-1">Add</button>
                                    <button type="button" class="btn btn-light">Discard</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
