<div class="container-fluid">
    <form enctype="multipart/form-data" [formGroup]="addProduct" (ngSubmit)="updateProducts()">
        <div class="row product-adding">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="theme-color">{{prodById}}</h5>
                        <div class="pull-right">
                            <ui-switch uncheckedLabel="Disabled" checkedLabel="Enabled" formControlName="prodStatus" (change)="updateprodStatus($event)"></ui-switch>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card">
                    <!-- <div class="card-header">
                        <h5>Choose Category</h5>
                    </div> -->
                    <div class="card-body">
                        <div class="digital-add needs-validation">
                            <!-- <div class="form-group"  *ngFor="let c of categories">
                                <label class="col-form-label" *ngIf="c.id==mainCatId"><span>*</span> Category group : {{c.main_cat_name}} <a (click)="open(editMainCatId);"><i class="fa fa-pencil"></i></a></label>                                
                            </div> -->
                            <div class="pull-right">
                                <a (click)="open(editSubCatId2);getMatchedCatList()" class="btn btn-secondary"><i class="fa fa-plus"></i> / <i class="fa fa-trash"></i></a>
                            </div>

                            <!-- <div class="form-group" *ngFor="let sc of subCat">
                                <label class="col-form-label" *ngIf="sc.cat_id==subCatId"><span>*</span> Category name: {{sc.cat_name}} 
                                    <a (click)="open(editSubCatId);"><i class="fa fa-pencil"></i></a>
                                </label>                                

                            </div> -->

                            <div class="form-group" >
                                <label class="col-form-label" ><span>*</span> Category name: <ul *ngFor="let sc of productCategories"><li>{{sc.cat_name}}</li> </ul>
                                    
                                </label>                                

                            </div>

                            <!-- <div class="form-group" >
                                <label class="col-form-label"><span>*</span> cities</label>
                                <select class="form-control" formControlName="cityId" multiple>
                                    <option *ngFor="let c of cities" value="{{c.city_id}}">{{c.city_name}}</option>
                                </select>
                            </div> -->
                        </div>
                    </div>
                </div>
                

                <div class="card">
                    <!-- <div class="card-header">
                        <h5>General</h5>
                    </div> -->
                    <div class="card-body">
                        <div class="digital-add needs-validation">    
                            <div class="form-group">
                                <label for="validationTitle" class="col-form-label pt-0"><span>*</span> Product name</label>
                                <input class="form-control" formControlName="productName" type="text" required="">
                            </div>

                            <div class="form-group">
                                <label for="validationTitle" class="col-form-label pt-0"><span>*</span> Meta title</label>
                                <input class="form-control" formControlName="metaTitle" type="text" required="">
                            </div>

                            <div class="form-group">
                                <label for="validationTitle" class="col-form-label pt-0"><span>*</span> Meta description</label>
                                <input class="form-control" formControlName="metaDescription" type="text" required="">
                            </div>

                            <div class="form-group">
                                <label for="validationTitle" class="col-form-label pt-0"><span>*</span> Meta keywords</label>
                                <input class="form-control" formControlName="metaKeywords" type="text" required="">
                            </div>

                            <div class="form-group">
                                <label for="validationTitle" class="col-form-label pt-0"><span>*</span> Product slug</label>
                                <input class="form-control" formControlName="slug" type="text" required="">
                            </div>

                            <!-- <div class="form-group">
                                <label for="validationTitle" class="col-form-label pt-0"><span>*</span> Product description</label>
                                <input class="form-control" formControlName="prodDescription" type="text" required="">
                            </div> -->

                            <!-- <div class="form-group">
                                <label for="validationTitle" class="col-form-label pt-0"><span>*</span> Product quantity</label>
                                <input class="form-control" formControlName="prodQty" type="number" required="">
                            </div>
                            <div class="form-group">
                                <label for="validationTitle" class="col-form-label pt-0"><span>*</span> Product delivery timeline</label>
                                <input class="form-control" formControlName="deliveryTimeline" type="number" required="">
                            </div> -->
                            <div class="form-group">
                                <label for="validationTitle" class="col-form-label pt-0"><span>*</span> Security deposit</label>
                                <input class="form-control" formControlName="securityDeposit" type="number" required="">
                            </div>
                            <div class="form-group">
                                <label for="validationTitle" class="col-form-label pt-0"><span>*</span> Tenure base price</label>
                                <input class="form-control" formControlName="tenureBasePrice" type="number" required="">
                            </div>
                            <!-- <div class="form-group">
                                <label for="validationTitle" class="col-form-label pt-0"><span>*</span> Priority</label>
                                <input class="form-control" formControlName="priority" type="number" required="">
                            </div> -->
                            <div class="form-group">
                                <label class="col-form-label"><span>*</span> Pricing scheme</label>
                                <select class="form-control" formControlName="priority">
                                    <option *ngFor="let ps of pricingSchemes" value="{{ps.id}}">{{ps.scheme_name}}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="col-form-label"><span>*</span> Position</label>
                                <input class="form-control" formControlName="position" type="number" required="">
                            </div>
                            

                            <!-- <div class="form-group">
                                <label class="col-form-label"><span>*</span> Product status</label><br>
                                <ui-switch uncheckedLabel="Disabled" checkedLabel="Enabled" formControlName="prodStatus" (change)="updateprodStatus($event)"></ui-switch>
                                
                            </div> -->

                            <!-- <div class="form-group" *ngIf="addProduct.value.mainCatName">
                                <label class="col-form-label"><span>*</span> Highlights</label>
                                <select class="form-control" formControlName="highlightType" multiple>
                                    <option value="1">Featured</option>
                                    <option value="2">Best seller</option>
                                    <option value="3">New products</option>
                                </select>
                            </div> -->

                            
                            <!-- <div class="form-group" *ngIf="addProduct.value.subCatId">
                                <label class="col-form-label"><span>*</span> Brands</label>
                                <select class="form-control" formControlName="brandId">
                                    <option *ngFor="let b of brands" value="{{b.brand_id}}">{{b.brand_name}}</option>
                                </select>
                            </div> -->
                            
                            <!-- <div formArrayName="specs">
                                <div class="form-group" *ngFor="let cs of catSpecs; let i = index;">
                                   <label class="col-form-label pt-0"><span>*</span>{{cs.spec_name}}</label>
                                   <input class="form-control" id="validation3m" formControlName="{{cs.spec_name}}"  type="text" required="">
                                </div>
                            </div> -->
                            <div formArrayName="specs">                                
                                <div class="form-group" *ngFor="let cs of catSpecs; let i = index;">
                                    <label class="col-form-label"><span>*</span> {{cs.spec_name}}</label>
                                    <select class="form-control" formControlName="{{cs.spec_id}}" >
                                        <option value="0">Select</option>
                                        <option *ngFor="let sv of cs.spec_id | specValues"  value="{{sv.id}}">{{sv.spec_value}}</option>
                                        <!-- <option *ngFor="let sv of cs.spec_id | specValues"  [selected]="sv.id | editSpecCheck: prodId: cs.spec_id" value="{{sv.id}}">{{sv.spec_value}}</option> -->
                                    </select>
                                    <!-- <div *ngFor="let sv of cs.spec_id | specValues">                                        
                                        <input type="radio" name="cs.spec_id" class="form-check-input"  [checked]="sv.spec_value | editSpecCheck: specsCheck">
                                        <label>{{sv.spec_value}}</label>
                                    </div> -->
                                    
                                </div>
                            </div>
                            
                                    <!-- <div *ngIf="prodRequied">All fields are required</div> -->
                                    <!-- <div *ngIf="prodSuccessfull">Product added successfully</div> -->
                                <button type="submit" class="btn btn-primary mr-1">Save</button>                        
                        </div>
                    </div>
                </div>

                
            </div>
            <div class="col-xl-6">

                <div class="card">
                    <div class="card-header">
                        <h5>Product list page Image</h5>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="validationTitle" class="col-form-label pt-0"><span>*</span> Product list page image</label>
                            <input type="file" id="product_image" (change)="imageChange($event,'product_image')"/><br>
                            <img class="img-responsive w-25" 
                                [src]="addProduct.value.prodImage | BlobImage">

                                <h6>Image Url: <a [href]="[imageUrl]" target="_blank">{{imageUrl}}</a></h6>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h5>Product HD Image</h5>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="validationTitle" class="col-form-label pt-0"><span>*</span> Product Hd image</label>
                            <input type="file" id="product_hd_image" (change)="imageChange($event,'product_hd_image')"/><br>
                            <img class="img-responsive w-25" [src]="addProduct.value.prodHdImage | BlobImage">
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h5>Stocks</h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                  <tr>
                                    <th>City</th>
                                    <th>Quantity</th>
                                    <th>Delivery Timeline</th>
                                    <th>Action</th>
                                  </tr>
                                </thead>
                                <tbody *ngFor="let ep of editProducts">
                                  <tr *ngIf="ep.is_primary">
                                    <td>{{ep.city_name}}</td>
                                    <td>{{ep.quantity}}</td>
                                    <td>{{ep.delivery_timeline}}</td>
                                    <td><a (click)="open2(editStock, ep)"><i class="fa fa-pencil"></i></a></td>
                                  </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- <ng2-smart-table [settings]="settings" [source]="editProducts" (editConfirm)="onEditStockUpdate($event)"></ng2-smart-table> -->
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h5>Choose Accessories</h5>
                    </div>
                    <div class="card-body">
                        <div class="digital-add needs-validation">
                            <div class="form-group">
                                <label class="col-form-label"><span>*</span> Accessories <a (click)="open(editAccs);callGetAccByID()"><i class="fa fa-pencil"></i></a></label>
                                <div *ngFor="let a of accsNames">
                                    <p>{{a}}</p>
                                </div>
                                <!-- <div>
                                    {{addProduct.value.accessory}}
                                </div> -->
                                <!-- <select class="form-control" formControlName="accessory" multiple>
                                    <option *ngFor="let a of accessories"  value="{{a.id}}">{{a.acceesory_name}}</option>
                                </select> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h5>Choose Highlights</h5>
                    </div>
                    <div class="card-body">
                        <div class="digital-add needs-validation">
                            <div class="form-group">
                                <label class="col-form-label"><span>*</span> Highlights <a (click)="open(editHighlights);"><i class="fa fa-pencil"></i></a></label>
                                <div *ngFor="let h of highlightsName">
                                    <p>{{h.highlight_name}}</p>
                                </div>
                                <!-- <select class="form-control" formControlName="accessory" multiple>
                                    <option *ngFor="let a of accessories"  value="{{a.id}}">{{a.acceesory_name}}</option>
                                </select> -->
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card">
                    <div class="card-header">
                        <h5>Product Description</h5>
                        <!-- <a class="btn btn-primary pull-right" (click)="ckEdit=!ckEdit">Edit</a> -->
                    </div>
                    <div class="card-body">
                        <div class="digital-add needs-validation">
                            <div class="form-group mb-0">
                                <div class="description-sm">
                                    <!-- <textarea disabled rows="10" *ngIf="!ckEdit" class="form-control" value="{{addProduct.value.prodDescription}}"></textarea> -->
                                    <ck-editor formControlName="prodDescription" id="editor1" language="en" [fullPage]="false"></ck-editor>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<!--Modals-->

<ng-template #editMainCatId let-modal>
    <div class="modal-header">
        <h5 class="modal-title f-w-600" id="exampleModalLabel">Edit Category group</h5>
        <button type="button" class="close" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <th>Categroy group</th>
                    <th>Action</th>
                </thead>
                <tbody *ngFor="let c of categories">
                    <td >
                        {{c.main_cat_name}}
                    </td>
                    <td>
                        <div class="form-check">
                            <input type="radio" name="mainCatName" class="form-check-input" (change)="mainCatNameActions($event,c.id)" [checked]="mainCatId == c.id">
                        </div>
                    </td>
                </tbody>
            </table>
        </div>
        <!-- <div class="specValues" *ngFor="let sv of tenureEdit.specId | tenurePriority">{{sv.tenure}} {{sv.tenure_period}}</div> -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"  >Save</button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal"
            (click)="modal.dismiss('Cross click')">Close</button>
    </div>
</ng-template>

<ng-template #editSubCatId let-modal>
    <div class="modal-header">
        <h5 class="modal-title f-w-600" id="exampleModalLabel">Edit Category</h5>
        <button type="button" class="close" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <th>Categroy </th>
                    <th>Action</th>
                </thead>
                <tbody *ngFor="let sc of subCat">
                    <td >
                        {{sc.cat_name}}
                    </td>
                    <td>
                        <div class="form-check">
                            <input type="radio" name="subCatName" class="form-check-input" (change)="subCatNameActions($event,sc.cat_id)" [checked]="subCatId == sc.cat_id">
                        </div>
                    </td>
                </tbody>
            </table>
        </div>
        <!-- <div class="specValues" *ngFor="let sv of tenureEdit.specId | tenurePriority">{{sv.tenure}} {{sv.tenure_period}}</div> -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"  >Save</button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal"
            (click)="modal.dismiss('Cross click')">Close</button>
    </div>
</ng-template>

<ng-template #editSubCatId2 let-modal>
    <div class="modal-header">
        <h5 class="modal-title f-w-600" id="exampleModalLabel">Edit Category</h5>
        <button type="button" class="close" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <th>Categroy </th>
                    <th>Action</th>
                </thead>
                <tbody *ngFor="let sc of subCategories">
                    <td >
                        {{sc.cat_name}}
                    </td>
                    <td>
                        <div class="form-check">
                            <input type="checkbox" name="subCatName" class="form-check-input" (change)="postProductCategory($event,sc.cat_id)" [checked]="sc.checked">
                        </div>
                    </td>
                </tbody>
            </table>
        </div>
       
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"  >Save</button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal"
            (click)="modal.dismiss('Cross click')">Close</button>
    </div>
</ng-template>

<ng-template #editAccs let-modal>
    <div class="modal-header">
        <h5 class="modal-title f-w-600" id="exampleModalLabel">Edit accessories</h5>
        <button type="button" class="close" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <th>Accessory</th>
                    <th>Action</th>
                </thead>
                <tbody *ngFor="let a of accessories">
                    <td >
                        {{a.acceesory_name}}
                    </td>
                    <td>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" (change)="accsActions($event,a.id)" [checked]="a.checked">
                        </div>
                        <!-- <input type="checkbox" [checked]="at.checked"> -->
                    </td>
                </tbody>
            </table>
        </div>
        <!-- <div class="specValues" *ngFor="let sv of tenureEdit.specId | tenurePriority">{{sv.tenure}} {{sv.tenure_period}}</div> -->
    </div>
    <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary"  (click)="reload()">Save</button> -->
        <button class="btn btn-secondary" type="button" data-dismiss="modal"
            (click)="modal.dismiss('Cross click')">Close</button>
    </div>
</ng-template>

<ng-template #editHighlights let-modal>
    <div class="modal-header">
        <h5 class="modal-title f-w-600" id="exampleModalLabel">Edit accessories</h5>
        <button type="button" class="close" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <th>Highlights</th>
                    <th>Action</th>
                </thead>
                <tbody *ngFor="let h of highlights">
                    <td >
                        {{h.highlight_name}}
                    </td>
                    <td>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" (change)="highlightsActions($event,h.id)" [checked]="h.checked">
                        </div>
                        <!-- <input type="checkbox" [checked]="at.checked"> -->
                    </td>
                </tbody>
            </table>
        </div>
        <!-- <div class="specValues" *ngFor="let sv of tenureEdit.specId | tenurePriority">{{sv.tenure}} {{sv.tenure_period}}</div> -->
    </div>
    <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary"  (click)="reload()">Save</button> -->
        <button class="btn btn-secondary" type="button" data-dismiss="modal"
            (click)="modal.dismiss('Cross click')">Close</button>
    </div>
</ng-template>


<ng-template #editStock let-modal>
    <div class="modal-header">
        <h5 class="modal-title f-w-600" id="exampleModalLabel">Edit stock and delivery timeline</h5>
        <button type="button" class="close" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <label>Quantity</label>
        <input class="form-control" [(ngModel)]="stock.quantity">
        <label class=" mt-2">Delivery timeline (In days)</label>
        <input class="form-control" [(ngModel)]="stock.delivery_timeline">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"  (click)="onEditStockUpdate(stock)">Save</button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal"
            (click)="modal.dismiss('Cross click')">Close</button>
    </div>
</ng-template>