<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h5>Add specifications</h5>
                </div>
                <div class="card-body">

                    <!-- <select class="form-control" [(ngModel)]="mainCat" (change)="getSubCategory()">
                        <option *ngFor="let c of categories" value="{{c.main_cat_name}}">{{c.main_cat_name}}</option>
                    </select><br>

                    <select class="form-control" [(ngModel)]="subCatValue" *ngIf="mainCat">
                        <option *ngFor="let sc of subCat[0].subItems">{{sc.cat_name}}</option>
                    </select><br> -->

                    <input class="form-control" id="product_image" (change)="imageChange($event)" [(ngModel)]="specImage" type="file" /><br>

                    <input type="text" class="form-control" [(ngModel)]="specName" placeholder="specification name" /><br>
                    
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-original-title="test"
                            data-target="#exampleModal" (click)="addSpecs()">Add specs</button>
                </div>
            </div>
        </div>

        <!-- <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h5>Add specifications value</h5>
                </div>
                <div class="card-body">
                    <select class="form-control" [(ngModel)]="getSpecName">
                        <option *ngFor="let s of getAllSpecName" value="{{s.spec_id}}">{{s.spec_name}}</option>
                    </select><br>

                    <input type="text" class="form-control" [(ngModel)]="specValue" placeholder="specification value" /><br>
                    
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-original-title="test"
                            data-target="#exampleModal" (click)="addSpecValue()">Add specs value</button>
                            <div *ngIf="specValueStatus"> Spec value added successfully</div>
                </div>
            </div>
        </div> -->

        <div class="col-sm-12">
            <div class="card specifications">
                <div class="card-header">
                    <h5>Add specifications</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th>Spec Image</th>
                                <th>Spec Name</th>
                                <th>Spec value</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody *ngFor="let s of getAllSpecName">
                              <tr>
                                <td><img class="img-responsive" 
                                    [src]="s.spec_image | BlobImage" 
                                     >
                                </td>
                                <td>{{s.spec_name}}</td>
                                <td><div class="specValues" *ngFor="let sv of s.spec_id | specValues">{{sv.spec_value}}</div></td>
                                <td>
                                    <a class="mr-2" data-toggle="modal" data-original-title="test"
                                    data-target="#exampleModal" (click)="open(addSpec); getCurrentSpecValues(s.spec_id, s.spec_name)"><i class="fa fa-plus-circle"></i></a>
                                    <a (click)="open(editSpec);getCurrentSpecValues(s.spec_id, s.spec_name)"><i class="fa fa-pencil"></i></a>
                                    <label>
                                        <input class="form-control" (change)="specImageUpdate($event,s.spec_id)" type="file" style="display: none;">
                                        <a><i class="fa fa-upload"></i></a>
                                    </label>
                                    
                                </td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->



<!--Modals-->

<ng-template #addSpec let-modal>
    <div class="modal-header">
        <h5 class="modal-title f-w-600" id="exampleModalLabel">{{specEdit.specName}}</h5>
        <button type="button" class="close" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
            <div class="form">
                <div class="form-group mb-3">
                    <label for="validationCustom02" class="mb-1">Specification Value :</label>
                    <input class="form-control" id="validationCustom01" [(ngModel)]="specEdit.specValue" type="text">
                </div>
            </div>
            <div class="specValues" *ngFor="let sv of specEdit.specId | specValues">{{sv.spec_value}}</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"  (click)="addSpecValue()">Save</button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal"
            (click)="modal.dismiss('Cross click')">Close</button>
    </div>
</ng-template>

<ng-template #editSpec let-modal>
    <div class="modal-header">
        <h5 class="modal-title f-w-600" id="exampleModalLabel">Edit {{specEdit.specName}}</h5>
        <button type="button" class="close" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <!-- <ng2-smart-table [settings]="settings" [source]="editspecValues" (editConfirm)="onEditSpecValue($event)"></ng2-smart-table> -->
        <!-- <div class="editSpecValues" *ngFor="let sv of specEdit.specId | specValues">            
            <div class="row">
                <div class="col-8">
                    {{sv.spec_value}} 
                </div>
                <div class="col">
                    <a (click)="open(editSpec, s.spec_id, s.spec_name)"><i class="fa fa-pencil"></i></a>
                </div>
            </div>
        </div>         -->
    </div>
    <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary">Save</button> -->
        <button class="btn btn-secondary" type="button" data-dismiss="modal"
            (click)="modal.dismiss('Cross click')">Close</button>
    </div>
</ng-template>


<ng-template #editSpecName let-modal>
    <div class="modal-header">
        <h5 class="modal-title f-w-600" >Edit {{specEdit.specName}}</h5>
        <button type="button" class="close" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        
        <table class="table table-bordered">
            <thead>
              <tr>
                <th>Specification Name</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody *ngFor="let s of getAllSpecName">
              <tr>
                <td>{{s.spec_name}}</td>
                
                <td>
                    <a class="mr-2" data-toggle="modal" data-original-title="test"
                    data-target="#exampleModal" (click)="open(addSpec); getCurrentSpecValues(s.spec_id, s.spec_name)"><i class="fa fa-plus-circle"></i></a>
                    <a (click)="open(editSpec);getCurrentSpecValues(s.spec_id, s.spec_name)"><i class="fa fa-pencil"></i></a>
                </td>
              </tr>
            </tbody>
        </table>       
    </div>
    <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary">Save</button> -->
        <button class="btn btn-secondary" type="button" data-dismiss="modal"
            (click)="modal.dismiss('Cross click')">Close</button>
    </div>
</ng-template>

<!-- <ng-template #editSpecImage let-modal>
    <div class="modal-header">
        <h5 class="modal-title f-w-600" >Change {{specEdit.specName}} Image</h5>
        <button type="button" class="close" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <input class="form-control" id="{{specEdit.specId}}" (change)="specImageUpdate(specEdit.specId)"  type="file"/>           
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="updateSpecImage(specEdit.specId)">Save</button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal"
            (click)="modal.dismiss('Cross click')">Close</button>
    </div>
</ng-template> -->