<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Manage Order</h5>
                </div>
                <div class="card-body">
                    <div class="custom-datatable">
                        <input type='text' class="filter-ngx form-control" placeholder='Search...'
                            (keyup)='updateFilter($event)' />
                            
                        <select name="ordersFilter" (change)="filterOrders($event.target.value)">
                            <option>All orders</option>
                            <option>Active orders</option>
                            <option>Renewed orders</option>
                            <option>Refunded orders</option>
                        </select>
                        <button class="pull-right btn btn-warning" (click)="exportAsXLSX()">Download</button>
                            <table class="table table-striped table-bordered" >
                                <thead>
                                  <tr>
                                    <th>Order Id</th>
                                    <th>Payu Trans Id</th>
                                    <th>Order date</th>
                                    <th>User Id</th>
                                    <th>User name</th>
                                    <th>Security deposit</th>
                                    <th>Payment status</th>
                                    <th>Delivery status</th>
                                  </tr>
                                </thead>
                                <tbody *ngFor="let o of filteredOrders">
                                  <tr>
                                    <td>{{o.txnid}}</td>
                                    <td>{{o.payuid}}</td>
                                    <td>{{o.orderdate}}</td> 
                                    <td>{{o.userId}}</td>
                                    <td>{{o.fname}}</td> 
                                    <td>₹{{o.securitydeposit}}</td>    
                                    <td>{{o.refund_status}}</td> 
                                    <td>{{o.delivery_status}}</td>                       
                                  </tr>                          
                                </tbody>
                              </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
