<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Category group</h5>
                </div>
                <div class="card-body">
                    <div class="btn-popup pull-right">
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-original-title="test"
                            data-target="#exampleModal" (click)="open(content)">Add Category</button>
                        <ng-template #content let-modal>
                            <div class="modal-header">
                                <h5 class="modal-title f-w-600" id="exampleModalLabel">Add Digital Product</h5>
                                <button type="button" class="close" aria-label="Close"
                                    (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                    <div class="form">
                                        <div class="form-group">
                                            <label for="main_cat_name" class="mb-1">Main Category Name :</label>
                                            <input class="form-control" [(ngModel)]="main_cat_name" id="main_cat_name" type="text">
                                        </div>
                                        <div class="form-group">
                                            <label for="main_cat_heading" class="mb-1">Category Heading :</label>
                                            <input class="form-control" [(ngModel)]="main_cat_heading" id="main_cat_heading" type="text">
                                        </div>
                                        <div class="form-group">
                                            <label for="main_slug" class="mb-1">Category Slug :</label>
                                            <input class="form-control" [(ngModel)]="main_slug" id="main_slug" type="text">
                                        </div>
                                        <div class="form-group">
                                            <label for="main_meta_title" class="mb-1">Category Meta title:</label>
                                            <input class="form-control" [(ngModel)]="main_meta_title" id="main_meta_title" type="text">
                                        </div>
                                        <div class="form-group">
                                            <label for="main_meta_description" class="mb-1">Category Meta description :</label>
                                            <input class="form-control" [(ngModel)]="main_meta_description" id="main_meta_description" type="text">
                                        </div>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" (click)="addCategory()">Save</button>
                                <button class="btn btn-secondary" type="button" data-dismiss="modal"
                                    (click)="modal.dismiss('Cross click')" id="closemodal">Close</button>
                            </div>
                        </ng-template>
                    </div>
                    <div id="batchDelete" class="category-table custom-datatable">
                        <div class="table-responsive">
                            <!-- <ng2-smart-table [settings]="settings" [source]="categories"></ng2-smart-table> -->
                            <table class="table table-striped table-bordered">
                                <thead>
                                  <tr>
                                    <th>Main Category Name</th>
                                    <th>Main cat heading</th>
                                    <th>Main cat slug</th>
                                    <th>Meta title</th>
                                    <th>Meta description</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let row of categories">
                                    <td>{{row.main_cat_name}}</td>
                                    <td>{{row.main_cat_heading}}</td>
                                    <td>{{row.main_slug}}</td>
                                    <td>{{row.main_meta_title}}</td>
                                    <td>{{row.main_meta_description}}</td>
                                    <td *ngIf="row.status==1">Active</td>
                                    <td *ngIf="row.status==0">Inactive</td>
                                    <td (click)="edit(editcontent, row.id)"><i class="fa fa-pencil"></i></td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->




<ng-template #editcontent let-modal>
    <div class="modal-header">
        <h5 class="modal-title f-w-600" id="exampleModalLabel">Add Digital Product</h5>
        <button type="button" class="close" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
            <div class="form">
                <div class="form-group">
                    <label for="main_cat_name" class="mb-1">Main Category Name :</label>
                    <input class="form-control" [(ngModel)]="edit_main_cat_name" id="main_cat_name" type="text">
                </div>
                <div class="form-group">
                    <label for="main_cat_heading" class="mb-1">Category Heading :</label>
                    <input class="form-control" [(ngModel)]="edit_main_cat_heading" id="main_cat_heading" type="text">
                </div>
                <div class="form-group">
                    <label for="main_slug" class="mb-1">Category Slug :</label>
                    <input class="form-control" [(ngModel)]="edit_main_slug" id="main_slug" type="text">
                </div>
                <div class="form-group">
                    <label for="main_meta_title" class="mb-1">Category Meta title:</label>
                    <input class="form-control" [(ngModel)]="edit_main_meta_title" id="main_meta_title" type="text">
                </div>
                <div class="form-group">
                    <label for="main_meta_description" class="mb-1">Category Meta description :</label>
                    <input class="form-control" [(ngModel)]="edit_main_meta_description" id="main_meta_description" type="text">
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="editCategory()">Save</button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal"
            (click)="modal.dismiss('Cross click')" id="closemodal">Close</button>
    </div>
</ng-template>