<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h5>Add Accessories</h5>
                </div>
                <div class="card-body">

                    <input class="form-control" [(ngModel)]="accsImage" type="file"  multiple/><br>

                    <input type="text" class="form-control" [(ngModel)]="accsName" placeholder="Accessory name" /><br>
                    
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-original-title="test"
                            data-target="#exampleModal" (click)="addAccs()">Add accessory</button>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="card specifications">
                <div class="card-header">
                    <h5>Accessories</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th>Accessory Name</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody *ngFor="let s of getAllAccsName">
                              <tr>
                                <td>{{s.acceesory_name}}</td>
                                
                                <td>                                    
                                    <a (click)="open(editAccs, s.spec_id, s.acceesory_name)"><i class="fa fa-pencil"></i></a>
                                </td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->



<!--Modals-->

<ng-template #addSpec let-modal>
    <div class="modal-header">
        <h5 class="modal-title f-w-600" id="exampleModalLabel">{{specEdit.specName}}</h5>
        <button type="button" class="close" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
            <div class="form">
                <div class="form-group mb-3">
                    <label for="validationCustom02" class="mb-1">Specification Value :</label>
                    <input class="form-control" id="validationCustom01" [(ngModel)]="specEdit.specValue" type="text">
                </div>
            </div>
            <div class="specValues" *ngFor="let sv of specEdit.specId | specValues">{{sv.spec_value}}</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"  (click)="addSpecValue()">Save</button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal"
            (click)="modal.dismiss('Cross click')">Close</button>
    </div>
</ng-template>

<ng-template #editAccs let-modal>
    <div class="modal-header">
        <h5 class="modal-title f-w-600" id="exampleModalLabel">Edit {{specEdit.specName}}</h5>
        <button type="button" class="close" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <ng2-smart-table [settings]="settings" [source]="editAccsValues" (editConfirm)="onEditAccsValue($event)"></ng2-smart-table>
        <!-- <div class="editSpecValues" *ngFor="let sv of specEdit.specId | specValues">            
            <div class="row">
                <div class="col-8">
                    {{sv.spec_value}} 
                </div>
                <div class="col">
                    <a (click)="open(editSpec, s.spec_id, s.spec_name)"><i class="fa fa-pencil"></i></a>
                </div>
            </div>
        </div>         -->
    </div>
    <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary">Save</button> -->
        <button class="btn btn-secondary" type="button" data-dismiss="modal"
            (click)="modal.dismiss('Cross click')">Close</button>
    </div>
</ng-template>