<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h5>Add Accessories</h5>
                </div>
                <div class="card-body">

                    <input class="form-control" (change)="addAccsImageUpdate($event)" type="file" /><br>

                    <input type="text" class="form-control" [(ngModel)]="accsName" placeholder="Accessory name" /><br>
                    
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-original-title="test"
                            data-target="#exampleModal" (click)="addAccs()">Add accessory</button>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="card specifications">
                <div class="card-header">
                    <h5>Accessories</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th>Image</th>
                                <th>Accessory Name</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody *ngFor="let s of getAllAccsName">
                              <tr>
                                <td><img class="img-responsive" 
                                    [src]="s.accessory_image | BlobImage">
                                </td>
                                <td>{{s.acceesory_name}}</td>
                                
                                <td>                                    
                                    <a (click)="open(editAccs, s.id, s.acceesory_name)"><i class="fa fa-pencil"></i></a>
                                    <label>
                                        <input class="form-control" (change)="accsImageUpdate($event,s.id)" type="file" style="display: none;">
                                        <a><i class="fa fa-upload"></i></a>
                                    </label>
                                </td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->



<!--Modals-->

<ng-template #addSpec let-modal>
    <div class="modal-header">
        <h5 class="modal-title f-w-600" id="exampleModalLabel">{{specEdit.AccsName}}</h5>
        <button type="button" class="close" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
            <div class="form">
                <div class="form-group mb-3">
                    <label for="validationCustom02" class="mb-1">Specification Value :</label>
                    <input class="form-control" id="validationCustom01" [(ngModel)]="specEdit.specValue" type="text">
                </div>
            </div>
            <div class="specValues" *ngFor="let sv of specEdit.specId | specValues">{{sv.spec_value}}</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"  (click)="addSpecValue()">Save</button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal"
            (click)="modal.dismiss('Cross click')">Close</button>
    </div>
</ng-template>

<ng-template #editAccs let-modal>
    <div class="modal-header">
        <h5 class="modal-title f-w-600" id="exampleModalLabel">Edit {{specEdit.AccsName}}</h5>
        <button type="button" class="close" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <!-- <ng2-smart-table [settings]="settings" [source]="editAccsValues" (editConfirm)="onEditAccsValue($event)"></ng2-smart-table> -->
        <input type="text" class="form-control" [(ngModel)]="specEdit.AccsName">
        <button class="btn btn-secondary mt-2" (click)="onEditAccsValue(specEdit)">Update</button>
    </div>
    <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary">Save</button> -->
        <button class="btn btn-secondary" type="button" data-dismiss="modal"
            (click)="modal.dismiss('Cross click')">Close</button>
    </div>
</ng-template>