<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Product Lists</h5>
                </div>
                <div class="card-body">
                    <div id="batchDelete" class="custom-datatable">
                        <select name="ordersFilter" (change)="filterproducts($event.target.value)">
                            <option>All products</option>
                            <option>Laptops</option>
                            <option>Desktops</option>
                            <option>Camera</option>
                        </select>
                        <button class="pull-right btn btn-warning" (click)="exportAsXLSX()">Download</button>
                        <div class="table-responsive">
                            <!-- <ng2-smart-table [settings]="settings" [source]="productsList" (editConfirm)="onEdit(row.prod_id)" (deleteConfirm)="onDelete(row.prod_id)"></ng2-smart-table> -->
                            <table class="table table-striped table-bordered">
                                <thead>
                                  <tr>
                                    <th>Product Title</th>
                                    <th>Brand</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let row of filteredProducts">
                                    <td>{{row.prod_name}}</td>
                                    <td>{{row.brand_name}}</td>
                                    <td>{{row.prod_status === '1' ? 'Active' : 'Inactive'}}</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-md-2" *appUserRole="[Role.admin,Role.sales]">
                                                <a (click)="onEdit(row.prod_id)"><i class="fa fa-pencil"></i></a>
                                            </div>
                                            <div class="col-md-2" *appUserRole="[Role.admin]">
                                                <a (click)="onDelete(row.prod_id)"><i class="fa fa-trash"></i></a>
                                            </div>
                                        </div>                            
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>