<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-6" *ngIf="kycDetails">
        <div class="card" [routerLink]="['../../../users/kyc-list', kycDetails.id]"  [ngClass]="{'bg-dark': NoKYC,'bg-danger': kycDetails?.kyc_status=='Query raised','bg-success': kycDetails?.kyc_status=='eKYC approved', 'bg-warning': kycDetails?.kyc_status=='eKYC submitted'}" >
            <div class="card-body">
                <h2 class="text-white" *ngIf="!NoKYC">{{kycDetails?.kyc_status}}</h2>
                <h2 class="text-white" *ngIf="NoKYC">Awaiting eKYC</h2>
            </div>
        </div>
      </div>

      <div class="col-sm-6" *ngIf="!kycDetails">
        <div class="card bg-dark"  >
            <div class="card-body">
                <h2 class="text-white" *ngIf="NoKYC">Awaiting eKYC</h2>
            </div>
        </div>
      </div>

      <div class="col-sm-6"></div>
        
      <div class="col-sm-6">
          <div class="card">
              <div class="card-body">
                  <div class="custom-datatable" *ngFor="let o of filteredCustomers">
                      
                      <div class="my-2">Customer #: <span>{{o.customer_id}}</span></div>
                      <div class="my-2">First name : <span>{{o.firstName}} </span> <span class="text-primary" (click)="fname=!fname"> <i class="fa fa-pencil"></i></span> 
                        <div class="input-group mb-3" *ngIf="fname">
                          <input type="text" class="form-control" [(ngModel)]="o.firstName" aria-describedby="basic-addon1">
                          <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon1" (click)="updateCustomer(o.customer_id,o.firstName, 'firstName')">Update</span>
                          </div>
                        </div>
                      </div>
                      <div class="my-2">Last name : <span>{{o.lastName}} </span> <span class="text-primary" (click)="lname=!lname"> <i class="fa fa-pencil"></i></span>
                        <div class="input-group mb-3" *ngIf="lname">
                          <input type="text" class="form-control" [(ngModel)]="o.lastName" aria-describedby="basic-addon2">
                          <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2" (click)="updateCustomer(o.customer_id,o.lastName, 'lastName')">Update</span>
                          </div>
                        </div>
                      </div>
                      <div class="my-2">Mobile : <span>{{o.mobile}} </span></div>
                      <div class="my-2">Email : <span>{{o.email}} </span><span class="text-primary" (click)="eemail=!eemail"> <i class="fa fa-pencil"></i></span> 
                        <div class="input-group mb-3" *ngIf="eemail">
                          <input type="text" class="form-control" [(ngModel)]="o.email" aria-describedby="basic-addon3">
                          <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon3" (click)="updateCustomer(o.customer_id,o.email, 'email')">Update</span>
                          </div>
                        </div>
                      </div>
                      
                  </div>
              </div>
          </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="custom-datatable" *ngFor="let a of defaultAddress">
                    
                    <p>Name : <span>{{a.display_name}} ({{a.nickName}})</span></p>
                    <p>First name : <span>{{a.firstName}}</span></p>
                    <p>Address : <span>{{a.address_line1}} {{a.address_line2}}, {{a.landmark}}, {{a.city}}-{{a.pincode}}</span></p>
                    <p>Landmark : <span></span></p>
                    <p>Mobile : <span>{{a.addressMobile}}</span></p>
                    <p>Email : <span>{{a.email}}</span></p>
                    <a class="text-primary" (click)="open()">click here to view all address</a>
                </div>
            </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
              <h3>Cart details</h3>
          </div>
            <div class="card-body">
                <button class="btn btn-warning" (click)="openProdModal()">Add product to cart</button><br><br>
                <div class="custom-datatable">                        
                    <table class="table table-striped table-bordered" >
                      <thead>
                        <tr>
                          <th>Product Id</th>
                          <th>Product name</th>
                          <th>securityDeposit</th>
                          <th>Quantity</th>
                          <th>Tenure period</th>
                          <th>Tenure price</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let c of cartDetails">
                        <tr >
                          <td>{{c.product_id}}</td>
                          <td>{{c.prod_name}}</td>
                          <td>{{c.securityDeposit * c.quantity}} <input class="form-control w-100" [(ngModel)]="c.securityDeposit" (keyup)="updateCartTenurePrice(c)"></td> 
                          <td><input [(ngModel)]="c.quantity" (keyup)="updateCartQuantity(c, c.quantity)"></td>  
                          <td>
                            <a (click)="openTenureModal(tenure, c.priority, c.tenure_id, c.tenure_base_price, c)">
                              {{ c.tenures }} 
                            </a>
                            <!-- The Modal -->
                          <ng-template class="modal-tenure" #tenure let-c="close" let-d="dismiss">
                            <!-- Modal Header -->
                            <div class="modal-header">
                              <h3 class="ml-2">Select Minimum Tenure</h3>
                              <div class="my-close" (click)="d('Cross click')">
                                x
                              </div>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <!-- <h6>{{product.prod_name}}</h6> -->
                                <table class="table">
                                    <thead>
                                    <tr class="my-table-ml">
                                        <th class="pl-5">Tenure</th>
                                        <th class="text-right">Rent/ Mo</th>
                                    </tr>
                                    </thead>
                                    <tbody *ngFor="let tenure of tenuresOfProduct; let i=index">
                                    <tr>
                                        <td>
                                            <div class="radio-item">
                                                <input type="radio" [checked]="tenure.isSelected==1" id="tenure{{tenure.tenure}}" name="tenure" (change)="calcPrice(tenure.discount, security_deposit, tenure.tenure +' '+tenure.tenure_period, tenure.tenure_id, c.tenure_base_price,c, c.quantity);d('Cross click')" value="{{tenure.tenure}}"> 
                                                <label for="tenure{{tenure.tenure}}"><span class="ml-2">{{tenure.tenure}} {{tenure.tenure_period}}</span></label>
                                            </div>
                                        </td>
                                        <td class="pull-right" for="tenure">
                                          <label for="tenure{{tenure.tenure}}">
                                            ₹ {{calcTenures2(tenure.discount, c.tenure_base_price)}} 
                                          </label>                                                
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>                                                                  
                            </div>

                          </ng-template> 
                          </td> 
                          <td>{{c.tenure_price * c.quantity}}
                            <br> <input class="form-control w-100" [(ngModel)]="c.tenure_price" (keyup)="updateCartTenurePrice(c)">
                          </td>
                          <td><a (click)="removeCartItem(c)"><i class="fa fa-trash"></i></a></td>  
                                            
                        </tr>                          
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3>Order details</h3>
            </div>
            <div class="card-body">
                <div class="custom-datatable">                        
                    <table class="table table-striped table-bordered" >
                      <thead>
                        <tr>
                          <th>Order Id</th>
                          <th>Order type</th>
                          <th>Order date</th>
                          <th>Invoice value</th>
                          <th>Payment status</th>
                          <th>Delivery status</th>
                          <th>Order status</th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let o of orders">
                        <tr [routerLink]="['../../../sales/orders',o.id]">
                          <td>{{o.primary_id}}</td>
                          <td>{{o.order_type}}</td>
                          <td>{{o.createdAt | date:'dd MM yyyy'}}</td> 
                          <td>₹ {{o.grandTotal}}</td>  
                          <td>{{o.paymentStatus}}</td> 
                          <td>{{o.delivery_status}}</td>  
                          <td *ngIf="o.orderStatusId==0" class="text-center"><i class="fa fa-circle text-danger"></i></td>  
                          <td *ngIf="o.orderStatusId==1" class="text-center"><i class="fa fa-circle text-success"></i></td>                     
                        </tr>                          
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="custom-datatable">
                    
                  <table class="table table-striped table-bordered" >
                    <thead>
                      <tr>
                        <th>Product Id</th>
                        <th>Product name</th>
                        <th>Asset #</th>
                        <th>Security deposit</th>
                        <th>Tenure period</th>
                        <th>Tenure price</th>
                        <th>Damage protection</th>
                        <th>Delivery status</th>
                        <th>overdue</th>
                        <th>Start date</th>
                        <th>End date</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let o of orderItems">
                      <tr >
                        <td>{{o.prod_id}}</td>
                        <td>{{o.prod_name}}</td>
                        <td>{{o.asset_id}}</td>
                        <td>₹ {{o.security_deposit}}</td>  
                        <td>{{o.tenure_period}}</td> 
                        <td>{{o.tenure_price}}</td>  
                        <td>{{o.damage_protection}}</td>  
                        <td>{{o.delivery_status}}</td>
                        <td *ngIf="o.overdue==0" class="text-center"><i class="fa fa-circle text-danger"></i></td>  
                        <td *ngIf="o.overdue==1" class="text-center"><i class="fa fa-circle text-success"></i></td>                     
                        <td>{{o.startDate | date:'dd MM yyyy'}}</td> 
                        <td>{{o.endDate | date:'dd MM yyyy'}}</td> 
                      </tr>                          
                    </tbody>
                  </table>
              
                </div>
            </div>
        </div>
      </div>

        
      </div>
</div> 
    <!-- Container-fluid Ends -->


        <!-- Replacement request modal -->
        <ng-template  #addressModal let-c="close" let-d="dismiss">
          <div class="modal-header text-center">
            <h4 class="col-12 modal-title text-center" id="modal-basic-title">Order details</h4>
            <button type="button" class="close" aria-label="Close" (click)="d(); ">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="row">  
                <div class="col-sm-6" *ngFor="let a of address">
                  <div class="card">
                      <div class="card-body">
                          <div class="custom-datatable" >
                              
                              <div class="p-0 m-0">Display name : <span>{{a.display_name}} </span><span class="text-primary" (click)="displayName=!displayName"> <i class="fa fa-pencil"></i></span>
                                <div class="input-group mb-3" *ngIf="displayName">
                                  <input type="text" class="form-control" [(ngModel)]="a.display_name" aria-describedby="basic-addon1">
                                  <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon1" (click)="updateCustomerAddressFeild(a.address_id,a.display_name, 'display_name')">Update</span>
                                  </div>
                                </div>
                              </div>
                              <div class="p-0 m-0">Nick Name: ({{a.nickName}}) <span class="text-primary" (click)="nickName=!nickName"> <i class="fa fa-pencil"></i></span>
                                <div class="input-group mb-3" *ngIf="nickName">
                                  <input type="text" class="form-control" [(ngModel)]="a.nickName" aria-describedby="basic-addon1">
                                  <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon1" (click)="updateCustomerAddressFeild(a.address_id,a.nickName, 'nickName')">Update</span>
                                  </div>
                                </div>
                              </div>
                              <div class="p-0 m-0">First name : <span>{{a.firstName}}</span></div>
                              <div class="p-0 m-0">Address line 1 : <span>{{a.address_line1}}</span><span class="text-primary" (click)="address1=!address1"> <i class="fa fa-pencil"></i></span>
                                <div class="input-group mb-3" *ngIf="address1">
                                  <input type="text" class="form-control" [(ngModel)]="a.address_line1" aria-describedby="basic-addon1">
                                  <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon1" (click)="updateCustomerAddressFeild(a.address_id,a.address_line1, 'address_line1')">Update</span>
                                  </div>
                                </div>
                              </div>
                              <div class="p-0 m-0">Addresss line 2: <span>{{a.address_line2}} </span><span class="text-primary" (click)="address2=!address2"> <i class="fa fa-pencil"></i></span>
                                <div class="input-group mb-3" *ngIf="address2">
                                  <input type="text" class="form-control" [(ngModel)]="a.address_line2" aria-describedby="basic-addon1">
                                  <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon1" (click)="updateCustomerAddressFeild(a.address_id,a.address_line2, 'address_line2')">Update</span>
                                  </div>
                                </div>
                              </div>
                              <div class="p-0 m-0">city <span>{{a.city}} </span><span class="text-primary" (click)="city=!city"> <i class="fa fa-pencil"></i></span>
                                <div class="input-group mb-3" *ngIf="city">
                                  <input type="text" class="form-control" [(ngModel)]="a.city" aria-describedby="basic-addon1">
                                  <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon1" (click)="updateCustomerAddressFeild(a.address_id,a.city, 'city')">Update</span>
                                  </div>
                                </div>
                              </div>
                              <div class="p-0 m-0">pincode: <span>{{a.pincode}} </span><span class="text-primary" (click)="pincode=!pincode"> <i class="fa fa-pencil"></i></span>
                                <div class="input-group mb-3" *ngIf="pincode">
                                  <input type="text" class="form-control" [(ngModel)]="a.pincode" aria-describedby="basic-addon1">
                                  <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon1" (click)="updateCustomerAddressFeild(a.address_id,a.pincode, 'pincode')">Update</span>
                                  </div>
                                </div>
                              </div>
                              <div class="p-0 m-0">Landmark : <span>{{a.landmark}} </span><span class="text-primary" (click)="landmark=!landmark"> <i class="fa fa-pencil"></i></span>
                                <div class="input-group mb-3" *ngIf="landmark">
                                  <input type="text" class="form-control" [(ngModel)]="a.landmark" aria-describedby="basic-addon1">
                                  <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon1" (click)="updateCustomerAddressFeild(a.address_id,a.landmark, 'landmark')">Update</span>
                                  </div>
                                </div>
                              </div>
                              <div class="p-0 m-0">Mobile : <span>{{a.addressMobile}} </span><span class="text-primary" (click)="mobile=!mobile"> <i class="fa fa-pencil"></i></span>
                                <div class="input-group mb-3" *ngIf="mobile">
                                  <input type="text" class="form-control" [(ngModel)]="a.addressMobile" aria-describedby="basic-addon1">
                                  <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon1" (click)="updateCustomerAddressFeild(a.address_id,a.addressMobile, 'addressMobile')">Update</span>
                                  </div>
                                </div>
                              </div>
                              <div class="p-0 m-0">Email : <span>{{a.email}}</span></div>
                        
                          </div>
                      </div>
                  </div>
                </div>
              </div>
          </div>
      </ng-template>

      <!-- Replacement request modal -->
      <ng-template  #prodModal let-c="close" let-d="dismiss">
          <div class="modal-header text-center">
            <h4 class="col-12 modal-title text-center" id="modal-basic-title">Product details</h4>
            <button type="button" class="close" aria-label="Close" (click)="d(); ">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="row">  
                <div class="col-sm-6">
                  <div class="card">
                      <div class="card-body">
                        <ng-multiselect-dropdown class="mx-5"
                        [placeholder]="'Add products'"
                        [settings]="dropdownSettings"
                        [data]="cartProducts"
                        (onSelect)="onItemSelect($event)"
                        (onDeSelect)="onItemDeSelect($event)"
                        >
                        </ng-multiselect-dropdown>
                      </div>
                  </div>
                </div>
                <!-- <div class="col-sm-12">
                  <div class="card">
                    <div class="card-body">
                      <table class="table table-striped table-bordered" >
                        <thead>
                          <tr>
                            <th>Product Id</th>
                            <th>Product name</th>
                            <th>securityDeposit</th>
                            <th>Quantity</th>
                            <th>Tenure period</th>
                            <th>Tenure price</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody >
                          <tr *ngFor="let c of cartDetails">
                            <td>{{c.product_id}}</td>
                            <td>{{c.prod_name}}</td>
                            <td>{{c.securityDeposit}}</td> 
                            <td>{{c.quantity}}</td>  
                            <td>{{c.tenures}}</td> 
                            <td>{{c.tenure_price}}</td>
                            <td><a><i class="fa fa-trash"></i></a></td>                    
                          </tr>                          
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div> -->
              </div>
          </div>
      </ng-template>

      

    <!-- <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header text-center">
          <h4 class="col-12 modal-title text-center" id="modal-basic-title">Update order & refund status</h4>
          <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">   
                <form enctype="multipart/form-data" [formGroup]="updateStatus" (ngSubmit)="updateDeliveryStatus(orderId)">
                               
                <div class="col">
                    <label>Update Delivery Status</label>
                        <select formControlName="deliveryStatus">
                            <option>Order booked</option>
                            <option>Renewed</option>
                            <option>Waiting for KYC</option>
                            <option>Delivered</option>
                            <option>Shipped</option>
                            <option>Returned</option>
                            <option>Delivery awaited</option>
                            <option>Partially delivered</option>
                        </select>                        
                </div>
                <div class="col">
                    <label>Update payment Status</label>
                    <select formControlName="refundStatus">
                            <option>awaiting payment</option>
                            <option>Paid</option>
                            <option>Deposit refunded</option>
                            <option>Complete refund</option>
                            <option>Refund initiated</option>
                    </select>
                </div>
                
                <button type="submit">Update</button>
            </form>
            </div>
        </div>
    </ng-template>

    <ng-template class="order-details" #orderDetails let-c="close" let-d="dismiss">
        <div class="modal-header text-center">
          <h4 class="col-12 modal-title text-center" id="modal-basic-title">Order details</h4>
          <button type="button" class="close" aria-label="Close" (click)="d()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row" *ngFor="let o of fullOrderDetails">          
                <div class="col">
                    <h3>Order details</h3>

                    <table class="table table-striped table-bordered" >
                        <thead>
                          <tr>
                            <th>Order Id</th>
                            <th>Payu Trans Id</th>
                            <th>User Id</th>
                            <th>Order date</th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let o of fullOrderDetails">
                          <tr>
                            <td>{{o.txnid}}</td>
                            <td>{{o.payuid}}</td>
                            <td>{{o.userId}}</td>
                            <td>{{o.orderdate}}</td>                         
                          </tr>                          
                        </tbody>
                      </table>

                    <h3>Product details</h3>
                    <table class="table table-striped table-bordered" *ngFor="let o of fullOrderDetails">
                        <thead>
                          <tr>
                            <th>prod id</th>
                            <th>Prod name</th>
                            <th *ngIf="o.order_type!='Renewal order'">Qty</th>
                            <th *ngIf="o.order_type!='Renewal order'">Tenure</th>
                            <th *ngIf="o.order_type!='Renewal order'">Security Deposit</th>
                            <th>Rent/mo</th>
                            <th *ngIf="o.order_type!='Renewal order'">Expected Delivery Date</th>
                            <th *ngIf="o.order_type!='Return order'">Start date</th>
                            <th *ngIf="o.order_type!='Return order'">Expiry date</th>
                            <th *ngIf="o.order_type!='Return order'">Due date</th>
                            <th *ngIf="o.order_type=='Return order'">Return date</th>
                            <th>Asset #</th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let p of o.checkoutItemData">
                          <tr *ngIf="p.ordered==1 && o.order_type=='Primary order'">
                            <td>{{p.id}}</td>
                            <td>{{p.prod_name}}</td>
                            <td>{{p.qty}}</td>
                            <td>{{p.tenure}}</td>
                            <td>₹{{p.prod_price}}</td>
                            <td>₹{{(p.price-0) + (p.dp-0)}}</td>
                            <td>{{p.delvdate}}</td> 
                            <td>{{p.startDate}}</td>
                            <td>{{p.expiryDate}}</td>
                            <td>{{dueDate(p.startDate)}}</td>
                            <td>{{p.assetId}}</td>                                                       
                          </tr>           
                          <tr *ngIf="p.renewed==4 && o.order_type=='Renewal order'">
                            <td>{{p.id}}</td>
                            <td>{{p.prod_name}}</td>
                            <td>₹{{(p.price-0) + (p.dp-0)}}</td>
                            <td>{{p.startDate}}</td>
                            <td>{{p.expiryDate}}</td>
                            <td>{{dueDate(p.startDate)}}</td>
                            <td>{{p.assetId}}</td> 
                                                      
                          </tr>   
                          <tr *ngIf="p.ordered==1 && o.order_type=='Replacement order'">
                            <td>{{p.returnedProduct.id}}</td>
                            <td>{{p.returnedProduct.prod_name}}</td>
                            <td>{{p.returnedProduct.qty}}</td>
                            <td>{{p.returnedProduct.tenure}}</td>
                            <td>₹{{p.returnedProduct.prod_price}}</td>
                            <td>₹{{(p.returnedProduct.price-0) + (p.returnedProduct.dp-0)}}</td>
                            <td>{{p.returnedProduct.delvdate}}</td> 
                            <td>{{p.returnedProduct.startDate}}</td>
                            <td>{{p.returnedProduct.expiryDate}}</td>
                            <td>{{dueDate(p.returnedProduct.startDate)}}</td>
                            <td>{{p.returnedProduct.assetId}}</td>                                                       
                          </tr>  
                          <h5 *ngIf="p.ordered==1 && o.order_type=='Replacement order'">Replaced product</h5>
                          <tr *ngIf="p.ordered==1 && o.order_type=='Replacement order'">
                            <td>{{p.id}}</td>
                            <td>{{p.prod_name}}</td>
                            <td>{{p.qty}}</td>
                            <td>{{p.tenure}}</td>
                            <td>₹{{p.prod_price}}</td>
                            <td>₹{{(p.price-0) + (p.dp-0)}}</td>
                            <td>{{p.delvdate}}</td> 
                            <td>{{p.startDate}}</td>
                            <td>{{p.expiryDate}}</td>
                            <td>{{dueDate(p.startDate)}}</td>
                            <td>{{p.assetId}}</td>                                                       
                          </tr> 
                          <tr *ngIf="o.order_type=='Return order'">
                            <td>{{p.id}}</td>
                            <td>{{p.prod_name}}</td>
                            <td>{{p.qty}}</td>
                            <td>{{p.tenure}}</td>
                            <td>₹{{p.prod_price}}</td>
                            <td>₹{{(p.price-0) + (p.dp-0)}}</td>
                            <td>{{p.delvdate}}</td> 
                            <td>{{p.returnDate}}</td>
                            <td>{{p.assetId}}</td>                                                       
                          </tr>               
                        </tbody>
                    </table>

                    <div *ngFor="let o of fullOrderDetails" class="pull-right">
                        <div *ngIf="o.order_type!='Replacement order'">
                          <h4>Sub total: ₹{{subTotal}}</h4>
                          <h4>Taxes: {{totalTaxAmount(subTotal)}}</h4>
                          <h4>Total security deposit: <span>₹{{o.securitydeposit}}</span></h4>
                          <h4>Grand Total: <span>₹{{o.amount}}</span></h4>
                        </div>
                        <div *ngIf="o.order_type=='Replacement order'">
                          <h4>Difference rent: ₹{{diffInRent}}</h4>
                          <h4>Damage / Delivery Charges: {{ddCharges}}</h4>
                          <h4>Taxes: {{totalTaxAmount(diffInRent+ddCharges)}}</h4>
                          <h4>Sub total: {{diffInRent+ddCharges+totalTaxAmount(diffInRent+ddCharges)}}</h4>
                          <h4>Difference security deposit: <span>₹{{diffInDeposit}}</span></h4>
                          <h4>Grand Total: <span>₹{{o.amount}}</span></h4>
                        </div>
                    </div> 
                    
                    <div class="addr">
                        <hr>
                        <h3>Billing Address</h3>
                        <div *ngFor="let o of fullOrderDetails">
                            <h4>Name: <span>{{o.fname}}</span></h4>
                            <h4>Address: <span>{{o.address}},{{o.city}}-{{o.pincode}}.</span></h4>
                            <h4>Mobile: <span>{{o.mobile}}</span></h4>
                            <h4>Email: <span>{{o.email}}</span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template> -->