::ng-deep .my-address .modal-dialog { 
    max-width: 90%;
    width: 90%;
}

::ng-deep .my-prod .modal-dialog { 
    max-width: 50%;
    width: 50%;
}

.bg-danger{
    background-color: #ff4444 !important;
}

.bg-dark{
    background-color: #292b2c ;
}